In [1]:
import sys
sys.path.append('..')
from src.db import *

In [2]:
table = load_from_local("i_reload_setting")

In [5]:
table.drop(["Unnamed: 4", "Unnamed: 5"], 1, inplace=True)

In [7]:
table.loc[table.equipment_id.isin([f"c{i}" for i in range(5, 13)]), "sort_type"] = "small_sort"
table.loc[~table.equipment_id.isin([f"c{i}" for i in range(5, 13)]), "sort_type"] = "reload"

In [14]:
table.groupby(["equipment_id", "sort_type"]).count()

                         equipment_port  dest_code  dest_type
equipment_id sort_type
c1           reload                  50         50         50
c10          small_sort             104        104        104
c11          small_sort             104        104        104
c12          small_sort             104        104        104
c13          reload                  28         27         28
c14          reload                  28         28         28
c15          reload                  28          0         28
c16          reload                  28         28         28
c17          reload                  28         28         28
c18          reload                  28         23         28
c2           reload                  50         47         50
c3           reload                  50         45         50
c4           reload                  25         16         25
c5           small_sort             104        104        104
c6           small_sort             104        104        104
c7           small_sort             104        104        104
c8           small_sort             104        101        104
c9           small_sort             104         74         74