In [141]:
import sys
sys.path.append("..")
import os
from os.path import join, splitext

import pandas as pd
from src.db import SaveConfig

In [142]:
def reading_tables():
    table_names = os.listdir(SaveConfig.OUT_DIR)
    tables_dict = dict()
    for name in table_names:
        tables_dict[splitext(name)[0]] = pd.read_csv(join(SaveConfig.OUT_DIR, name))
    return tables_dict

In [143]:
tables_dict = reading_tables()

In [144]:
tables_dict.keys()

dict_keys(['pipeline_table', 'truck_table', 'machine_table'])

In [145]:
machine_table = tables_dict["machine_table"]

In [146]:
machine_table.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 821259 entries, 0 to 821258
Data columns (total 5 columns):
equipment_id       821259 non-null object
package_id         821259 non-null int64
time_stamp         821259 non-null float64
action             821259 non-null object
real_time_stamp    821259 non-null object
dtypes: float64(1), int64(1), object(3)
memory usage: 31.3+ MB

In [173]:
machine_table.sample(10)

       equipment_id    package_id  time_stamp action          real_time_stamp
177946         r3_3   86223806199     3131.60  start  2017-06-15 21:52:11.600
561958         r3_9  957582437416    23760.00  start  2017-06-16 03:36:00.000
104270         i6_2  845184592067    19069.90    end  2017-06-16 02:17:49.900
475409         r1_2  615160941748    20957.00    end  2017-06-16 02:49:17.000
199116         r5_1  615165909957     2776.00   wait  2017-06-15 21:46:16.000
482577         r2_2  974612797371    13150.00   wait  2017-06-16 00:39:10.000
764664         r3_9  974614650145    22646.00   wait  2017-06-16 03:17:26.000
682128         r5_3  216669638297    21576.00   wait  2017-06-16 02:59:36.000
714021         r4_2  615153840363    22856.00   wait  2017-06-16 03:20:56.000
147320        c2_30  928802516379    11231.95   wait  2017-06-16 00:07:11.950

In [174]:
test = machine_table[machine_table.package_id == 845184592067]
test.set_index(['equipment_id', "action"], append=1)[["time_stamp"]].diff()

                            time_stamp
       equipment_id action
104259 r1_1         wait           NaN
104260 r1_1         start      6768.40
104261 r1_1         end           4.80
104262 m1_1         wait         41.37
104263 m1_1         start         0.00
104264 m1_1         end           3.00
104265 i7_1         wait        136.89
104266 i7_1         start         0.00
104267 i7_1         end         207.60
104268 i6_2         wait          0.00
104269 i6_2         start         0.00
104270 i6_2         end          26.84
104271 c4_4         wait          0.00