In [37]:
import sys
sys.path.append("..")
import os
from os.path import join, splitext

import pandas as pd
from src.db import SaveConfig

In [38]:
def reading_tables():
    table_names = os.listdir(SaveConfig.OUT_DIR)
    tables_dict = dict()
    for name in table_names:
        tables_dict[splitext(name)[0]] = pd.read_csv(join(SaveConfig.OUT_DIR, name))
    return tables_dict

In [39]:
tables_dict = reading_tables()

In [40]:
tables_dict.keys()

dict_keys(['pipeline_table', 'truck_table', 'machine_table'])

In [41]:
tables_dict["truck_table"]

    equipment_id      truck_id  time_stamp action  store_size
0          truck  334223591019         0.0   wait           2
1           r1_1  334223591019         0.0  start           2
2           r1_1  334223591019         4.8    end           2
3          truck  338196782298      1225.0   wait           1
4           r1_1  338196782298      1225.0  start           1
5           r1_1  338196782298      1229.8    end           1
6          truck  338832149040      2658.0   wait           1
7           r1_1  338832149040      2658.0  start           1
8           r1_1  338832149040      2658.0    end           1
9          truck  338464721463      4162.0   wait          14
10          r1_1  338464721463      4162.0  start          14
11          r1_1  338464721463      4195.6    end          14
12         truck  338752277974      7640.0   wait           1
13          r1_1  338752277974      7640.0  start           1
14          r1_1  338752277974      7640.0    end           1
15         truck  336706244297     13542.0   wait           7
16          r1_1  336706244297     13542.0  start           7
17          r1_1  336706244297     13551.6    end           7
18         truck  339511303201     17767.0   wait          61
19          r1_1  339511303201     17767.0  start          61
20          r1_1  339511303201     17911.0    end          61
21         truck  336741404757     21517.0   wait           1
22          r1_1  336741404757     21517.0  start           1
23          r1_1  336741404757     21521.8    end           1
24         truck  338087748646     26734.0   wait           1
25          r1_1  338087748646     26734.0  start           1
26          r1_1  338087748646     26738.8    end           1
27         truck  338087748646     27738.0   wait           1
28          r1_1  338087748646     27738.0  start           1
29          r1_1  338087748646     27742.8    end           1
..           ...           ...         ...    ...         ...
954        truck  338508387950       247.0   wait           1
955         r5_4  338508387950       247.0  start           1
956         r5_4  338508387950       247.0    end           1
957        truck  338701843105      2444.0   wait          13
958         r5_4  338701843105      2444.0  start          13
959         r5_4  338701843105      2444.0    end          13
960        truck  339396547068      3783.0   wait           3
961         r5_4  339396547068      3783.0  start           3
962         r5_4  339396547068      3792.6    end           3
963        truck  336344177634      6962.0   wait           2
964         r5_4  336344177634      6962.0  start           2
965         r5_4  336344177634      6966.8    end           2
966        truck  338780932196     12351.0   wait          52
967         r5_4  338780932196     12351.0  start          52
968         r5_4  338780932196     12351.0    end          52
969        truck  338021727423     16439.0   wait           1
970         r5_4  338021727423     16439.0  start           1
971         r5_4  338021727423     16443.8    end           1
972        truck  339731020485     20148.0   wait          16
973         r5_4  339731020485     20148.0  start          16
974         r5_4  339731020485     20162.4    end          16
975        truck  338087748646     26328.0   wait           1
976         r5_4  338087748646     26328.0  start           1
977         r5_4  338087748646     26332.8    end           1
978        truck  338087748646     27311.0   wait           1
979         r5_4  338087748646     27311.0  start           1
980         r5_4  338087748646     27315.8    end           1
981        truck  336991872063     36204.0   wait           5
982         r5_4  336991872063     36204.0  start           5
983         r5_4  336991872063     36218.4    end           5

[984 rows x 5 columns]

In [42]:
tables_dict["pipeline_table"]

             pipeline_id queue_id  package_id  time_stamp action
0       ('r1_4', 'm1_3')    r1_m1      165236    25210.80  start
1       ('r1_4', 'm1_3')    r1_m1      165236    25252.17    end
2       ('r1_4', 'm1_3')    r1_m1      165236    25255.17  start
3       ('r1_4', 'm1_3')    r1_m1      165236    25296.54    end
4       ('m1_3', 'i2_3')    m1_i2      165236    25299.54  start
5       ('m1_3', 'i2_3')    m1_i2      165236    25446.08    end
6       ('i2_3', 'i1_1')    i2_i1      165236    25446.08  start
7       ('i2_3', 'i1_1')    i2_i1      165236    25587.01    end
8      ('i1_1', 'c1_31')    i1_c1      165236    25587.01  start
9      ('i1_1', 'c1_31')    i1_c1      165236    25613.85    end
10                 c1_31    c1_31      165236    25613.85  start
11      ('r2_3', 'm1_4')    r2_m1      394026       28.80  start
12      ('r2_3', 'm1_4')    r2_m1      394026       71.06    end
13      ('r2_3', 'm1_4')    r2_m1      394026       74.06  start
14      ('r2_3', 'm1_4')    r2_m1      394026      116.32    end
15      ('m1_4', 'i2_2')    m1_i2      394026      119.32  start
16      ('m1_4', 'i2_2')    m1_i2      394026      265.86    end
17      ('i2_2', 'c2_1')    i2_c2      394026      265.86  start
18      ('i2_2', 'c2_1')    i2_c2      394026      303.90    end
19                  c2_1     c2_1      394026      303.90  start
20      ('r2_1', 'm1_2')    r2_m1      384398       43.20  start
21      ('r2_1', 'm1_2')    r2_m1      384398       85.46    end
22      ('r2_1', 'm1_2')    r2_m1      384398       88.46  start
23      ('r2_1', 'm1_2')    r2_m1      384398      130.72    end
24      ('m1_2', 'i2_2')    m1_i2      384398      147.26  start
25      ('m1_2', 'i2_2')    m1_i2      384398      293.80    end
26      ('i2_2', 'c2_1')    i2_c2      384398      293.80  start
27      ('i2_2', 'c2_1')    i2_c2      384398      331.84    end
28                  c2_1     c2_1      384398      331.84  start
29      ('r2_1', 'm1_2')    r2_m1      384402       52.80  start
...                  ...      ...         ...         ...    ...
40395   ('r3_8', 'm2_7')    r3_m2        2008    35583.82    end
40396   ('m2_7', 'i7_2')    m2_i7        2008    35586.82  start
40397   ('m2_7', 'i7_2')    m2_i7        2008    35819.67    end
40398   ('i7_2', 'i6_2')    i7_i6        2008    35819.67  start
40399   ('i7_2', 'i6_2')    i7_i6        2008    36027.27    end
40400  ('i6_2', 'c4_24')    i6_c4        2008    36027.27  start
40401  ('i6_2', 'c4_24')    i6_c4        2008    36054.11    end
40402              c4_24    c4_24        2008    36054.11  start
40403   ('r2_3', 'm1_4')    r2_m1        1388    35734.80  start
40404   ('r2_3', 'm1_4')    r2_m1        1388    35777.06    end
40405   ('r2_3', 'm1_4')    r2_m1        1388    35780.06  start
40406   ('r2_3', 'm1_4')    r2_m1        1388    35822.32    end
40407   ('m1_4', 'i7_3')    m1_i7        1388    35825.32  start
40408   ('m1_4', 'i7_3')    m1_i7        1388    35962.21    end
40409   ('i7_3', 'i6_1')    i7_i6        1388    35962.21  start
40410   ('i7_3', 'i6_1')    i7_i6        1388    36169.81    end
40411  ('i6_1', 'c4_24')    i6_c4        1388    36169.81  start
40412  ('i6_1', 'c4_24')    i6_c4        1388    36196.65    end
40413              c4_24    c4_24        1388    36196.65  start
40414   ('r2_3', 'm1_4')    r2_m1      388000    35758.80  start
40415   ('r2_3', 'm1_4')    r2_m1      388000    35801.06    end
40416   ('r2_3', 'm1_4')    r2_m1      388000    35804.06  start
40417   ('r2_3', 'm1_4')    r2_m1      388000    35846.32    end
40418   ('m1_4', 'i7_3')    m1_i7      388000    35849.32  start
40419   ('m1_4', 'i7_3')    m1_i7      388000    35986.21    end
40420   ('i7_3', 'i6_2')    i7_i6      388000    35986.21  start
40421   ('i7_3', 'i6_2')    i7_i6      388000    36193.81    end
40422  ('i6_2', 'c4_24')    i6_c4      388000    36193.81  start
40423  ('i6_2', 'c4_24')    i6_c4      388000    36220.65    end
40424              c4_24    c4_24      388000    36220.65  start

[40425 rows x 5 columns]

In [43]:
tables_dict["machine_table"]

      equipment_id  package_id  time_stamp action
0             r1_4      165236    25206.00   wait
1             r1_4      165236    25206.00  start
2             r1_4      165236    25210.80    end
3             m1_3      165236    25252.17   wait
4             m1_3      165236    25252.17  start
5             m1_3      165236    25255.17    end
6             i2_3      165236    25296.54   wait
7             m1_3      165236    25296.54  start
8             m1_3      165236    25299.54    end
9             i1_1      165236    25446.08   wait
10           c1_31      165236    25587.01   wait
11            i1_1      165236    25587.01   wait
12            i1_1      165236    25587.01  start
13            i1_1      165236    25613.85    end
14               1      165236    25613.85   wait
15            r2_3      394026        0.00   wait
16            r2_3      394026       24.00  start
17            r2_3      394026       28.80    end
18            m1_4      394026       71.06   wait
19            m1_4      394026       71.06  start
20            m1_4      394026       74.06    end
21            i2_2      394026      116.32   wait
22            m1_4      394026      116.32  start
23            m1_4      394026      119.32    end
24            c2_1      394026      265.86   wait
25            i2_2      394026      265.86   wait
26            i2_2      394026      265.86  start
27            i2_2      394026      303.90    end
28               2      394026      303.90   wait
29            r2_1      384398        0.00   wait
...            ...         ...         ...    ...
58761         r2_3        1388    35730.00   wait
58762         r2_3        1388    35730.00  start
58763         r2_3        1388    35734.80    end
58764         m1_4        1388    35777.06   wait
58765         m1_4        1388    35777.06  start
58766         m1_4        1388    35780.06    end
58767         i7_3        1388    35822.32   wait
58768         m1_4        1388    35822.32  start
58769         m1_4        1388    35825.32    end
58770         i6_1        1388    35962.21   wait
58771        c4_24        1388    36169.81   wait
58772         i6_1        1388    36169.81   wait
58773         i6_1        1388    36169.81  start
58774         i6_1        1388    36196.65    end
58775            4        1388    36196.65   wait
58776         r2_3      388000    35730.00   wait
58777         r2_3      388000    35754.00  start
58778         r2_3      388000    35758.80    end
58779         m1_4      388000    35801.06   wait
58780         m1_4      388000    35801.06  start
58781         m1_4      388000    35804.06    end
58782         i7_3      388000    35846.32   wait
58783         m1_4      388000    35846.32  start
58784         m1_4      388000    35849.32    end
58785         i6_2      388000    35986.21   wait
58786        c4_24      388000    36193.81   wait
58787         i6_2      388000    36193.81   wait
58788         i6_2      388000    36193.81  start
58789         i6_2      388000    36220.65    end
58790            4      388000    36220.65   wait

[58791 rows x 4 columns]