In [141]:
import sys
sys.path.append("..")
import os
from os.path import join, splitext

import pandas as pd
from src.db import SaveConfig

In [211]:
def reading_tables():
    table_names = os.listdir(SaveConfig.OUT_DIR)
    tables_dict = dict()
    for name in table_names:
        tables_dict[splitext(name)[0]] = pd.read_csv(join(SaveConfig.OUT_DIR, name))
    return tables_dict

In [212]:
tables_dict = reading_tables()

In [213]:
tables_dict.keys()

dict_keys(['pipeline_table', 'truck_table', 'machine_table'])

In [214]:
machine_table = tables_dict["machine_table"]

In [215]:
machine_table.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 821259 entries, 0 to 821258
Data columns (total 5 columns):
equipment_id       821259 non-null object
package_id         821259 non-null int64
time_stamp         821259 non-null float64
action             821259 non-null object
real_time_stamp    821259 non-null object
dtypes: float64(1), int64(1), object(3)
memory usage: 31.3+ MB

In [216]:
machine_table.sample(5)

       equipment_id    package_id  time_stamp action          real_time_stamp
760863         r3_2  786587035231    24375.00   wait  2017-06-16 03:46:15.000
26191          i1_1  958205218583    50677.04    end  2017-06-16 11:04:37.040
523098         r4_8  824350487011    13410.00   wait  2017-06-16 00:43:30.000
348401         r4_5   40145587619    16587.60    end  2017-06-16 01:36:27.600
347487         r4_9  869165063874     8514.00   wait  2017-06-15 23:21:54.000

In [218]:
test = machine_table[machine_table.package_id == 958205218583]
test_diff = test.set_index(['equipment_id', "action"], append=1)[["time_stamp"]].diff()

In [221]:
test

      equipment_id    package_id  time_stamp action          real_time_stamp
26180         r3_1  958205218583    35172.00   wait  2017-06-16 06:46:12.000
26181         r3_1  958205218583    50225.80  start  2017-06-16 10:57:05.800
26182         r3_1  958205218583    50230.60    end  2017-06-16 10:57:10.600
26183         m2_1  958205218583    50288.51   wait  2017-06-16 10:58:08.510
26184         m2_1  958205218583    50288.51  start  2017-06-16 10:58:08.510
26185         m2_1  958205218583    50291.51    end  2017-06-16 10:58:11.510
26186         i2_1  958205218583    50509.27   wait  2017-06-16 11:01:49.270
26187         i2_1  958205218583    50509.27  start  2017-06-16 11:01:49.270
26188         i2_1  958205218583    50650.20    end  2017-06-16 11:04:10.200
26189         i1_1  958205218583    50650.20   wait  2017-06-16 11:04:10.200
26190         i1_1  958205218583    50650.20  start  2017-06-16 11:04:10.200
26191         i1_1  958205218583    50677.04    end  2017-06-16 11:04:37.040
26192        c1_29  958205218583    50677.04   wait  2017-06-16 11:04:37.040

In [219]:
test_diff = test_diff.reset_index("action")

In [222]:
test_diff

                   action  time_stamp
      equipment_id
26180 r3_1           wait         NaN
26181 r3_1          start    15053.80
26182 r3_1            end        4.80
26183 m2_1           wait       57.91
26184 m2_1          start        0.00
26185 m2_1            end        3.00
26186 i2_1           wait      217.76
26187 i2_1          start        0.00
26188 i2_1            end      140.93
26189 i1_1           wait        0.00
26190 i1_1          start        0.00
26191 i1_1            end       26.84
26192 c1_29          wait        0.00

In [220]:
test_diff[test_diff.action == "start"]

                   action  time_stamp
      equipment_id
26181 r3_1          start     15053.8
26184 m2_1          start         0.0
26187 i2_1          start         0.0
26190 i1_1          start         0.0