In [141]:
import sys
sys.path.append("..")
import os
from os.path import join, splitext

import pandas as pd
from src.db import SaveConfig

In [142]:
def reading_tables():
    table_names = os.listdir(SaveConfig.OUT_DIR)
    tables_dict = dict()
    for name in table_names:
        tables_dict[splitext(name)[0]] = pd.read_csv(join(SaveConfig.OUT_DIR, name))
    return tables_dict

In [143]:
tables_dict = reading_tables()

In [144]:
tables_dict.keys()

dict_keys(['pipeline_table', 'truck_table', 'machine_table'])

In [145]:
machine_table = tables_dict["machine_table"]

In [146]:
machine_table.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 821259 entries, 0 to 821258
Data columns (total 5 columns):
equipment_id       821259 non-null object
package_id         821259 non-null int64
time_stamp         821259 non-null float64
action             821259 non-null object
real_time_stamp    821259 non-null object
dtypes: float64(1), int64(1), object(3)
memory usage: 31.3+ MB

In [207]:
machine_table.sample(5)

       equipment_id    package_id  time_stamp action          real_time_stamp
513484         r4_1  845573158717     22171.2  start  2017-06-16 03:09:31.200
394863         r3_7   86458297435     11079.0   wait  2017-06-16 00:04:39.000
60260          i7_1  845180865035     12044.7    end  2017-06-16 00:20:44.700
304141         r3_3  370843300934     13444.4  start  2017-06-16 00:44:04.400
660703         r3_6  132958493780     30164.8  start  2017-06-16 05:22:44.800

In [208]:
test = machine_table[machine_table.package_id == 845180865035]
test_diff = test.set_index(['equipment_id', "action"], append=1)[["time_stamp"]].diff()

In [209]:
test_diff = test_diff.reset_index("action")

In [210]:
test_diff[test_diff.action == "start"]

                   action  time_stamp
      equipment_id
60253 r1_4          start      4506.6
60256 m1_3          start         0.0
60259 i7_1          start         0.0