In [141]:
import sys
sys.path.append("..")
import os
from os.path import join, splitext

import pandas as pd
from src.db import SaveConfig

In [211]:
def reading_tables():
    table_names = os.listdir(SaveConfig.OUT_DIR)
    tables_dict = dict()
    for name in table_names:
        tables_dict[splitext(name)[0]] = pd.read_csv(join(SaveConfig.OUT_DIR, name))
    return tables_dict

In [239]:
tables_dict = reading_tables()

In [240]:
tables_dict.keys()

dict_keys(['pipeline_table', 'truck_table', 'machine_table'])

In [241]:
pipeline_table = tables_dict["pipeline_table"]

In [242]:
machine_table = tables_dict["machine_table"]

In [243]:
machine_table.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 938391 entries, 0 to 938390
Data columns (total 5 columns):
equipment_id       938391 non-null object
package_id         938391 non-null int64
time_stamp         938391 non-null float64
action             938391 non-null object
real_time_stamp    938391 non-null object
dtypes: float64(1), int64(1), object(3)
memory usage: 35.8+ MB

In [244]:
machine_table.equipment_id.unique()

array(['r4_2', 'm2_2', 'i2_1', 'i1_2', 'c1_1', 'r2_1', 'm1_2', 'i2_2',
       'r2_4', 'm1_4', 'r3_7', 'm2_7', 'i1_1', 'r2_2', 'e1_1', 'h1_1',
       'x8_1', 'x1_1', 'i4_1', 'r4_8', 'm2_8', 'r3_4', 'm2_3', 'r3_6',
       'm2_5', 'r1_1', 'm1_1', 'i2_3', 'r1_3', 'm1_3', 'r2_3', 'r1_2',
       'r3_10', 'm2_9', 'r1_4', 'r4_3', 'm2_4', 'c1_3', 'r3_8', 'r4_4',
       'r5_4', 'm3_2', 'x15_1', 'i4_4', 'r5_2', 'm3_1', 'c1_4', 'r3_3',
       'r4_9', 'm2_10', 'c1_5', 'c1_6', 'c1_7', 'r5_1', 'r5_3', 'r3_1',
       'm2_1', 'r3_5', 'r4_5', 'm2_6', 'r4_7', 'c1_8', 'c1_9', 'c1_10',
       'r4_6', 'c1_11', 'r4_10', 'r3_9', 'c1_12', 'r4_1', 'c1_13', 'c1_14',
       'c1_15', 'c1_16', 'c1_17', 'c1_18', 'c1_19', 'c1_20', 'c1_21',
       'c1_22', 'c1_23', 'c1_24', 'c1_25', 'c1_27', 'c1_29', 'r3_2',
       'c1_30', 'c1_31', 'c1_32', 'c1_33', 'c1_34', 'c1_35', 'c1_36',
       'c1_37', 'c1_38', 'c1_39', 'c1_40', 'c1_41', 'c1_42', 'c1_43',
       'c1_44', 'c1_45', 'c1_46', 'c1_47', 'c1_48', 'c1_49', 'c1_50',
       'c2_4', 'i3_1', 'i3_2', 'c2_6', 'c2_8', 'c2_10', 'c2_12', 'c2_14',
       'c2_16', 'c2_18', 'c2_20', 'c2_22', 'c2_24', 'c2_26', 'c2_28',
       'c2_30', 'c2_32', 'c2_34', 'c2_36', 'c2_38', 'c2_40', 'c2_42',
       'c2_44', 'c2_46', 'c2_48', 'c2_50', 'unload_error'], dtype=object)

In [245]:
machine_table.sample(5)

        equipment_id    package_id  time_stamp action          real_time_stamp
897449          r3_1  615162036203     34771.2    end  2017-06-16 06:39:31.200
360915          r3_5  139606033910      9219.0   wait  2017-06-15 23:33:39.000
104865          r3_2  869203466225      3280.4    end  2017-06-15 21:54:40.400
916314  unload_error  602844291416     44213.8   wait  2017-06-16 09:16:53.800
407524          r4_4  974615763916     17939.2  start  2017-06-16 01:58:59.200

In [246]:
test = machine_table[machine_table.package_id == 958205218583]
test_diff = test.set_index(['equipment_id', "action"], append=1)[["time_stamp"]].diff()

In [247]:
test

      equipment_id    package_id  time_stamp action          real_time_stamp
28255         r2_2  958205218583    35172.00   wait  2017-06-16 06:46:12.000
28256         r2_2  958205218583    46633.20  start  2017-06-16 09:57:13.200
28257         r2_2  958205218583    46638.00    end  2017-06-16 09:57:18.000
28258         m1_2  958205218583    46680.26   wait  2017-06-16 09:58:00.260
28259         m1_2  958205218583    46680.26  start  2017-06-16 09:58:00.260
28260         m1_2  958205218583    46683.26    end  2017-06-16 09:58:03.260
28261         i2_2  958205218583    46829.80   wait  2017-06-16 10:00:29.800
28262         i2_2  958205218583    46829.80  start  2017-06-16 10:00:29.800
28263         i2_2  958205218583    46970.73    end  2017-06-16 10:02:50.730
28264         i1_1  958205218583    46970.73   wait  2017-06-16 10:02:50.730
28265         i1_1  958205218583    46970.73  start  2017-06-16 10:02:50.730
28266         i1_1  958205218583    46997.57    end  2017-06-16 10:03:17.570
28267        c1_29  958205218583    46997.57   wait  2017-06-16 10:03:17.570
28268        c1_29  958205218583    46997.57   wait  2017-06-16 10:03:17.570

In [248]:
test_diff = test_diff.reset_index("action")

In [249]:
test_diff

                   action  time_stamp
      equipment_id
28255 r2_2           wait         NaN
28256 r2_2          start    11461.20
28257 r2_2            end        4.80
28258 m1_2           wait       42.26
28259 m1_2          start        0.00
28260 m1_2            end        3.00
28261 i2_2           wait      146.54
28262 i2_2          start        0.00
28263 i2_2            end      140.93
28264 i1_1           wait        0.00
28265 i1_1          start        0.00
28266 i1_1            end       26.84
28267 c1_29          wait        0.00
28268 c1_29          wait        0.00

In [250]:
test_diff[test_diff.action == "start"]

                   action  time_stamp
      equipment_id
28256 r2_2          start     11461.2
28259 m1_2          start         0.0
28262 i2_2          start         0.0
28265 i1_1          start         0.0

## checking package numbers

In [251]:
machine_table_split = dict(list(machine_table.groupby("package_id")))

In [254]:
truck_table = tables_dict["truck_table"]

In [258]:
truck_count_table = truck_table[truck_table.action == "start"]

In [259]:
truck_count_table.store_size.sum()

222619

In [252]:
len(machine_table_spilt)

222619

In [253]:
len(pipeline_table.package_id.unique())

222619

In [ ]:
machine_table