In [271]:
import sys
sys.path.append("..")
import os
from os.path import join, splitext

import pandas as pd
from src.db import SaveConfig

In [272]:
def reading_tables():
    table_names = os.listdir(SaveConfig.OUT_DIR)
    tables_dict = dict()
    for name in table_names:
        tables_dict[splitext(name)[0]] = pd.read_csv(join(SaveConfig.OUT_DIR, name))
    return tables_dict

In [294]:
tables_dict = reading_tables()

In [295]:
tables_dict.keys()

dict_keys(['pipeline_table', 'truck_table', 'machine_table'])

In [296]:
pipeline_table = tables_dict["pipeline_table"]

In [297]:
machine_table = tables_dict["machine_table"]

In [298]:
machine_table.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 716141 entries, 0 to 716140
Data columns (total 5 columns):
equipment_id       716141 non-null object
package_id         716141 non-null int64
time_stamp         716141 non-null float64
action             716141 non-null object
real_time_stamp    716141 non-null object
dtypes: float64(1), int64(1), object(3)
memory usage: 27.3+ MB

In [299]:
machine_table.equipment_id.unique()

array(['r3_7', 'm2_7', 'i2_1', 'i1_2', 'c1_1', 'r2_3', 'm1_4', 'i2_2',
       'i1_1', 'r5_3', 'm3_2', 'x15_1', 'i4_4', 'r2_1', 'm1_2', 'r1_1',
       'm1_1', 'i2_3', 'e1_1', 'h1_1', 'x8_1', 'x1_1', 'i4_1', 'r1_2',
       'r2_4', 'r2_2', 'r4_5', 'm2_6', 'r1_4', 'm1_3', 'r1_3', 'r5_4',
       'r4_10', 'm2_10', 'r4_3', 'm2_4', 'r4_7', 'm2_8', 'c1_3', 'r4_2',
       'm2_2', 'r3_10', 'm2_9', 'r3_6', 'm2_5', 'r3_3', 'm2_3', 'r3_5',
       'r3_8', 'c1_4', 'r3_9', 'r4_6', 'c1_5', 'c1_6', 'c1_7', 'r3_2',
       'm2_1', 'r3_4', 'r5_2', 'm3_1', 'r3_1', 'c1_8', 'c1_9', 'r4_8',
       'c1_10', 'c1_11', 'c1_12', 'c1_13', 'r4_9', 'c1_14', 'r4_1',
       'c1_15', 'r5_1', 'r4_4', 'c1_16', 'c1_17', 'c1_18', 'c1_19',
       'c1_20', 'c1_21', 'c1_22', 'c1_23', 'c1_24', 'c1_25', 'c1_27',
       'c1_29', 'c1_30', 'c1_31', 'c1_32', 'c1_33', 'c1_34', 'c1_35',
       'c1_36', 'c1_37', 'c1_38', 'c1_39', 'c1_40', 'c1_41', 'c1_42',
       'c1_43', 'c1_44', 'c1_45', 'c1_46', 'c1_47', 'c1_48', 'c1_49',
       'c1_50', 'c2_4', 'i3_2', 'i3_1', 'c2_6', 'c2_8', 'c2_10', 'c2_12',
       'c2_14', 'c2_16', 'c2_18', 'c2_20', 'c2_22', 'c2_24', 'c2_26',
       'c2_28', 'c2_30', 'c2_32', 'c2_34', 'c2_36', 'c2_38', 'c2_40',
       'c2_42', 'c2_44', 'c2_46', 'c2_48', 'c2_50'], dtype=object)

In [300]:
machine_table.sample(5)

       equipment_id    package_id  time_stamp action          real_time_stamp
20855         m2_10  615151042125    29647.51   wait  2017-06-16 05:14:07.510
353722         r3_7  602874093818    13983.20    end  2017-06-16 00:53:03.200
255936         r3_7  615154701408    11200.40  start  2017-06-16 00:06:40.400
52609          m1_1  786586579648    19663.17    end  2017-06-16 02:27:43.170
23697          r4_5  824224262420     6860.00   wait  2017-06-15 22:54:20.000

In [301]:
test = machine_table[machine_table.package_id == 974615948040]
test_diff = test.set_index(['equipment_id', "action"], append=1)[["time_stamp"]].diff()

In [302]:
test

      equipment_id    package_id  time_stamp action          real_time_stamp
10496         r1_2  974615948040    22103.00   wait  2017-06-16 03:08:23.000
10497         r1_2  974615948040    24998.40  start  2017-06-16 03:56:38.400
10498         r1_2  974615948040    25003.20    end  2017-06-16 03:56:43.200
10499         m1_1  974615948040    25044.57   wait  2017-06-16 03:57:24.570
10500         m1_1  974615948040    25044.57  start  2017-06-16 03:57:24.570
10501         m1_1  974615948040    25047.57    end  2017-06-16 03:57:27.570
10502         i2_3  974615948040    25194.11   wait  2017-06-16 03:59:54.110
10503         i2_3  974615948040    25194.11  start  2017-06-16 03:59:54.110
10504         i2_3  974615948040    25335.04    end  2017-06-16 04:02:15.040
10505         i1_1  974615948040    25335.04   wait  2017-06-16 04:02:15.040
10506         i1_1  974615948040    25335.04  start  2017-06-16 04:02:15.040
10507         i1_1  974615948040    25361.88    end  2017-06-16 04:02:41.880
10508        c1_13  974615948040    25361.88   wait  2017-06-16 04:02:41.880

In [303]:
test_diff = test_diff.reset_index("action")

In [304]:
test_diff

                   action  time_stamp
      equipment_id
10496 r1_2           wait         NaN
10497 r1_2          start     2895.40
10498 r1_2            end        4.80
10499 m1_1           wait       41.37
10500 m1_1          start        0.00
10501 m1_1            end        3.00
10502 i2_3           wait      146.54
10503 i2_3          start        0.00
10504 i2_3            end      140.93
10505 i1_1           wait        0.00
10506 i1_1          start        0.00
10507 i1_1            end       26.84
10508 c1_13          wait        0.00

In [305]:
test_diff[test_diff.action == "start"]

                   action  time_stamp
      equipment_id
10497 r1_2          start      2895.4
10500 m1_1          start         0.0
10503 i2_3          start         0.0
10506 i1_1          start         0.0

## checking package numbers

In [264]:
machine_table_sort = machine_table.sort_values(["package_id", "time_stamp"])

In [269]:
machine_table_sort[machine_table_sort.equipment_id == "c1_13"]

      equipment_id    package_id  time_stamp action          real_time_stamp
11652        c1_13   16009439214    35745.68   wait  2017-06-16 06:55:45.680
11653        c1_13   16009439214    35745.68   wait  2017-06-16 06:55:45.680
11554        c1_13   16009532982    31411.28   wait  2017-06-16 05:43:31.280
11555        c1_13   16009532982    31411.28   wait  2017-06-16 05:43:31.280
11442        c1_13   27937051986    29927.68   wait  2017-06-16 05:18:47.680
11443        c1_13   27937051986    29927.68   wait  2017-06-16 05:18:47.680
10730        c1_13   35759244290     9651.64   wait  2017-06-15 23:40:51.640
10731        c1_13   35759244290     9651.64   wait  2017-06-15 23:40:51.640
10320        c1_13   40793731632     2632.97   wait  2017-06-15 21:43:52.970
10321        c1_13   40793731632     2632.97   wait  2017-06-15 21:43:52.970
11050        c1_13   86015002766    15510.88   wait  2017-06-16 01:18:30.880
11051        c1_13   86015002766    15510.88   wait  2017-06-16 01:18:30.880
10484        c1_13   86204774827     5688.92   wait  2017-06-15 22:34:48.920
10485        c1_13   86204774827     5688.92   wait  2017-06-15 22:34:48.920
10590        c1_13   86207994191     5991.05   wait  2017-06-15 22:39:51.050
10591        c1_13   86207994191     5991.05   wait  2017-06-15 22:39:51.050
11568        c1_13   86408269747    31449.68   wait  2017-06-16 05:44:09.680
11569        c1_13   86408269747    31449.68   wait  2017-06-16 05:44:09.680
10374        c1_13   86557446657     4096.28   wait  2017-06-15 22:08:16.280
10375        c1_13   86557446657     4096.28   wait  2017-06-15 22:08:16.280
11776        c1_13   86561833922    44512.97   wait  2017-06-16 09:21:52.970
11777        c1_13   86561833922    44512.97   wait  2017-06-16 09:21:52.970
10458        c1_13  139090763814     5140.24   wait  2017-06-15 22:25:40.240
10459        c1_13  139090763814     5140.24   wait  2017-06-15 22:25:40.240
10510        c1_13  139491611640     5703.32   wait  2017-06-15 22:35:03.320
10511        c1_13  139491611640     5703.32   wait  2017-06-15 22:35:03.320
10716        c1_13  139518333798     9598.84   wait  2017-06-15 23:39:58.840
10717        c1_13  139518333798     9598.84   wait  2017-06-15 23:39:58.840
10980        c1_13  139583560446    12282.88   wait  2017-06-16 00:24:42.880
10981        c1_13  139583560446    12282.88   wait  2017-06-16 00:24:42.880
...            ...           ...         ...    ...                      ...
10938        c1_13  957890753653    10935.44   wait  2017-06-16 00:02:15.440
10939        c1_13  957890753653    10935.44   wait  2017-06-16 00:02:15.440
11956        c1_13  958028843744    45656.92   wait  2017-06-16 09:40:56.920
11957        c1_13  958028843744    45656.92   wait  2017-06-16 09:40:56.920
10360        c1_13  958039559614     3153.64   wait  2017-06-15 21:52:33.640
10361        c1_13  958039559614     3153.64   wait  2017-06-15 21:52:33.640
11860        c1_13  958040001275    45108.64   wait  2017-06-16 09:31:48.640
11861        c1_13  958040001275    45108.64   wait  2017-06-16 09:31:48.640
10688        c1_13  958133016721     9520.88   wait  2017-06-15 23:38:40.880
10689        c1_13  958133016721     9520.88   wait  2017-06-15 23:38:40.880
11162        c1_13  958307311194    17061.28   wait  2017-06-16 01:44:21.280
11163        c1_13  958307311194    17061.28   wait  2017-06-16 01:44:21.280
11526        c1_13  958584116201    30606.68   wait  2017-06-16 05:30:06.680
11527        c1_13  958584116201    30606.68   wait  2017-06-16 05:30:06.680
11330        c1_13  958669010514    23099.68   wait  2017-06-16 03:24:59.680
11331        c1_13  958669010514    23099.68   wait  2017-06-16 03:24:59.680
11386        c1_13  974604108638    29184.64   wait  2017-06-16 05:06:24.640
11387        c1_13  974604108638    29184.64   wait  2017-06-16 05:06:24.640
11400        c1_13  974604111154    29343.04   wait  2017-06-16 05:09:03.040
11401        c1_13  974604111154    29343.04   wait  2017-06-16 05:09:03.040
10952        c1_13  974611741639    11031.44   wait  2017-06-16 00:03:51.440
10953        c1_13  974611741639    11031.44   wait  2017-06-16 00:03:51.440
11540        c1_13  974612506408    31017.28   wait  2017-06-16 05:36:57.280
11541        c1_13  974612506408    31017.28   wait  2017-06-16 05:36:57.280
11970        c1_13  974613738615    46677.08   wait  2017-06-16 09:57:57.080
11971        c1_13  974613738615    46677.08   wait  2017-06-16 09:57:57.080
11596        c1_13  974615947956    31874.84   wait  2017-06-16 05:51:14.840
11597        c1_13  974615947956    31874.84   wait  2017-06-16 05:51:14.840
11624        c1_13  974615948040    31879.64   wait  2017-06-16 05:51:19.640
11625        c1_13  974615948040    31879.64   wait  2017-06-16 05:51:19.640

[230 rows x 5 columns]

In [265]:
machine_table_sort

        equipment_id    package_id  time_stamp action          real_time_stamp
248975          r1_3   13063776350     8627.00   wait  2017-06-15 23:23:47.000
248976          r1_3   13063776350    11974.60  start  2017-06-16 00:19:34.600
248977          r1_3   13063776350    11979.40    end  2017-06-16 00:19:39.400
248978  unload_error   13063776350    11979.40   wait  2017-06-16 00:19:39.400
248979          r1_3   13063776369     8627.00   wait  2017-06-15 23:23:47.000
248980          r1_3   13063776369    11974.60  start  2017-06-16 00:19:34.600
248981          r1_3   13063776369    11979.40    end  2017-06-16 00:19:39.400
248982  unload_error   13063776369    11979.40   wait  2017-06-16 00:19:39.400
451975          r4_2   13191396755    13410.00   wait  2017-06-16 00:43:30.000
451976          r4_2   13191396755    19030.60  start  2017-06-16 02:17:10.600
451977          r4_2   13191396755    19035.40    end  2017-06-16 02:17:15.400
451978  unload_error   13191396755    19035.40   wait  2017-06-16 02:17:15.400
190227          r4_8   16009384647     6737.00   wait  2017-06-15 22:52:17.000
190228          r4_8   16009384647     9162.00  start  2017-06-15 23:32:42.000
190229          r4_8   16009384647     9166.80    end  2017-06-15 23:32:46.800
190230  unload_error   16009384647     9166.80   wait  2017-06-15 23:32:46.800
11640           r1_4   16009439214    28806.00   wait  2017-06-16 05:00:06.000
11641           r1_4   16009439214    35382.20  start  2017-06-16 06:49:42.200
11642           r1_4   16009439214    35387.00    end  2017-06-16 06:49:47.000
11643           m1_3   16009439214    35428.37   wait  2017-06-16 06:50:28.370
11644           m1_3   16009439214    35428.37  start  2017-06-16 06:50:28.370
11645           m1_3   16009439214    35431.37    end  2017-06-16 06:50:31.370
11646           i2_3   16009439214    35577.91   wait  2017-06-16 06:52:57.910
11647           i2_3   16009439214    35577.91  start  2017-06-16 06:52:57.910
11648           i2_3   16009439214    35718.84    end  2017-06-16 06:55:18.840
11649           i1_2   16009439214    35718.84   wait  2017-06-16 06:55:18.840
11650           i1_2   16009439214    35718.84  start  2017-06-16 06:55:18.840
11651           i1_2   16009439214    35745.68    end  2017-06-16 06:55:45.680
11652          c1_13   16009439214    35745.68   wait  2017-06-16 06:55:45.680
11653          c1_13   16009439214    35745.68   wait  2017-06-16 06:55:45.680
...              ...           ...         ...    ...                      ...
936301          r2_2  993236285555    46695.60    end  2017-06-16 09:58:15.600
936302  unload_error  993236285555    46695.60   wait  2017-06-16 09:58:15.600
832211          r4_3  993236285564    22103.00   wait  2017-06-16 03:08:23.000
832212          r4_3  993236285564    31519.60  start  2017-06-16 05:45:19.600
832213          r4_3  993236285564    31524.40    end  2017-06-16 05:45:24.400
832214  unload_error  993236285564    31524.40   wait  2017-06-16 05:45:24.400
936303          r2_2  993236285573    35172.00   wait  2017-06-16 06:46:12.000
936304          r2_2  993236285573    46695.60  start  2017-06-16 09:58:15.600
936305          r2_2  993236285573    46700.40    end  2017-06-16 09:58:20.400
936306  unload_error  993236285573    46700.40   wait  2017-06-16 09:58:20.400
314975          r2_2  993237152598    11240.00   wait  2017-06-16 00:07:20.000
314976          r2_2  993237152598    15416.40  start  2017-06-16 01:16:56.400
314977          r2_2  993237152598    15421.20    end  2017-06-16 01:17:01.200
314978  unload_error  993237152598    15421.20   wait  2017-06-16 01:17:01.200
854607          r4_4  993426402941    26822.00   wait  2017-06-16 04:27:02.000
854608          r4_4  993426402941    32087.20  start  2017-06-16 05:54:47.200
854609          r4_4  993426402941    32092.00    end  2017-06-16 05:54:52.000
854610  unload_error  993426402941    32092.00   wait  2017-06-16 05:54:52.000
438619          r4_2  993431586917     8553.00   wait  2017-06-15 23:22:33.000
438620          r4_2  993431586917    18725.80  start  2017-06-16 02:12:05.800
438621          r4_2  993431586917    18730.60    end  2017-06-16 02:12:10.600
438622  unload_error  993431586917    18730.60   wait  2017-06-16 02:12:10.600
821459          r2_1  993642497271    23748.00   wait  2017-06-16 03:35:48.000
821460          r2_1  993642497271    31251.00  start  2017-06-16 05:40:51.000
821461          r2_1  993642497271    31255.80    end  2017-06-16 05:40:55.800
821462  unload_error  993642497271    31255.80   wait  2017-06-16 05:40:55.800
563947          r3_8  993666660479    16108.00   wait  2017-06-16 01:28:28.000
563948          r3_8  993666660479    21723.40  start  2017-06-16 03:02:03.400
563949          r3_8  993666660479    21728.20    end  2017-06-16 03:02:08.200
563950  unload_error  993666660479    21728.20   wait  2017-06-16 03:02:08.200

[938391 rows x 5 columns]