In [ ]:
import sys
sys.path.append("..")

import os
from os.path import join, splitext

import pandas as pd
from sim.db import *
from sim.config import *

2017-09-08 10:20:00,088 - sim - INFO - Reading mysql table i_reload_setting

In [3]:
machine_table = load_last_result_table(table_name='o_machine_table')

2017-09-07 17:41:56,476 - sim - INFO - Reading mysql table o_machine_table

In [17]:
path_table = load_last_result_table(table_name='o_path_table')

2017-09-07 18:04:11,514 - sim - INFO - Reading mysql table o_path_table

In [23]:
table_names = RemoteMySQLConfig.engine.table_names()

In [4]:
machine_table.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3217189 entries, 0 to 3217188
Data columns (total 8 columns):
equipment_id       object
parcel_id          object
small_id           object
parcel_type        object
time_stamp         float64
action             object
real_time_stamp    datetime64[ns]
run_time           datetime64[ns]
dtypes: datetime64[ns](2), float64(1), object(5)
memory usage: 196.4+ MB

In [16]:
u_parcel_id = len(machine_table.parcel_id.unique())
u_small_id = len(machine_table.small_id.unique())

print(u_parcel_id, u_small_id)

105023 151107

In [26]:
ind_j = machine_table.equipment_id.str.startswith('j')
ind_m = machine_table.equipment_id.str.startswith('m')

ind_start = machine_table.action == 'start'

j_table = machine_table[ind_j & ind_start]

In [27]:
m_table = machine_table[ind_m & ind_start]

In [14]:
j_table.groupby('equipment_id')['parcel_id'].apply(set).apply(len)

equipment_id
j10_1    2050
j11_1    2283
j13_1    2283
j15_1    2283
j16_1    2048
j17_1    2282
j19_1    2282
j1_1     2575
j21_1    2046
j22_1    2045
j23_1    1491
j24_1    1490
j28_1    2574
j2_1     2574
j33_1    4259
j34_1    4258
j37_1    2573
j38_1    4257
j41_1    2492
j9_1     2282
Name: parcel_id, dtype: int64

In [28]:
m_table.groupby('equipment_id')['parcel_id'].apply(set).apply(len)

equipment_id
m1_2      5150
m1_3      4629
m1_4       652
m2_1      8440
m2_10    13984
m2_4       833
m2_5      6063
m2_6      2151
m2_7      7918
m2_8     11255
m2_9      6631
m3_1     11406
m3_2      7792
m4_1       581
m4_3       565
m4_4       568
m4_5       577
m4_6      1158
m4_7      2026
m4_8       571
Name: parcel_id, dtype: int64