In [79]:
import sys
sys.path.append('..')
from src.db import *

In [95]:
table = load_from_mysql("i_od_parcel_landside")

In [98]:
table.describe().T

,count,unique,top,freq,first,last
parcel_id,254734,254734,869158374807,1,NaN,NaN
src_dist_code,254734,236,571,46415,NaN,NaN
src_type,254734,1,L,254734,NaN,NaN
dest_dist_code,254734,337,010,23404,NaN,NaN
dest_zone_code,254734,5663,532,3724,NaN,NaN
dest_type,222619,2,A,155735,NaN,NaN
plate_num,254734,501,339909707626,4449,NaN,NaN
parcel_type,254734,1,parcel,254734,NaN,NaN
limit_type_code,254734,11,T4,240422,NaN,NaN
arrive_time,254734,2605,2017-06-16 00:00:10,4429,2017-06-13 02:06:06,2017-06-16 11:12:32
send_time,254734,3085,2017-06-16 05:46:00,13937,2017-06-15 22:00:04,2017-06-17 13:47:00
inserted_on,0,0,NaN,NaN,NaN,NaN
modified_on,0,0,NaN,NaN,NaN,NaN