In [1]:
import sys
import pandas as pd

sys.path.extend(['..'])

from sim.db import *
from sim.config import *

import pandas as pd

2017-09-08 08:04:00,019 - sim - INFO - Reading mysql table i_reload_setting

In [6]:
resource_table = load_from_mysql('i_resource_limit')

2017-09-08 08:45:49,861 - sim - INFO - Reading mysql table i_resource_limit

In [8]:
resource_table[resource_table.resource_id.str.contains('j38')]

,resource_id,resource_name,resource_limit,capacity_per_resource,resource_on_number,resource_number,start_time,end_time,inserted_on,modified_on
61,man_j38_1,j38人力1,1.0,1.0,1.0,1.0,2017-08-15 21:00:00,2017-08-15 21:30:00,2017-08-29 16:11:56,NaT
251,man_j38_1,j38人力1,1.0,1.0,1.0,1.0,2017-08-15 21:30:00,2017-08-15 22:00:00,2017-08-29 16:11:56,NaT
441,man_j38_1,j38人力1,1.0,1.0,1.0,1.0,2017-08-15 22:00:00,2017-08-15 22:30:00,2017-08-29 16:11:56,NaT
631,man_j38_1,j38人力1,1.0,1.0,1.0,1.0,2017-08-15 22:30:00,2017-08-15 23:00:00,2017-08-29 16:11:56,NaT
821,man_j38_1,j38人力1,1.0,1.0,1.0,1.0,2017-08-15 23:00:00,2017-08-15 23:30:00,2017-08-29 16:11:56,NaT
1011,man_j38_1,j38人力1,1.0,1.0,1.0,1.0,2017-08-15 23:30:00,2017-08-16 00:00:00,2017-08-29 16:11:56,NaT
1201,man_j38_1,j38人力1,1.0,1.0,1.0,1.0,2017-08-16 00:00:00,2017-08-16 00:30:00,2017-08-29 16:11:56,NaT
1391,man_j38_1,j38人力1,1.0,1.0,1.0,1.0,2017-08-16 00:30:00,2017-08-16 01:00:00,2017-08-29 16:11:56,NaT
1581,man_j38_1,j38人力1,1.0,1.0,1.0,1.0,2017-08-16 01:00:00,2017-08-16 01:30:00,2017-08-29 16:11:56,NaT
1771,man_j38_1,j38人力1,1.0,1.0,1.0,1.0,2017-08-16 01:30:00,2017-08-16 02:00:00,2017-08-29 16:11:56,NaT

In [2]:
queue_io = load_from_mysql('i_queue_io')

queue_io[queue_io.equipment_port_next.str.contains('j')]\
    .groupby('equipment_port_next')['equipment_port_last'].apply(set).apply(len)

2017-09-08 08:06:06,179 - sim - INFO - Reading mysql table i_queue_io

In [ ]:
share_store = get_equipment_store_dict()

In [ ]:
share_store