In [79]:
import sys
sys.path.append('..')
from src.db import *

In [80]:
table = get_pipelines()

In [81]:
table

,equipment_port_last,equipment_port_next,sorter_zone,process_time,queue_id,machine_type
0,a1_1,m4_2,AM1,12.98,a1_m4,presort
1,a1_10,m4_8,AM1,12.98,a1_m4,presort
2,a1_11,m4_8,AM1,12.98,a1_m4,presort
3,a1_12,m4_8,AM1,12.98,a1_m4,presort
4,a1_2,m4_2,AM1,12.98,a1_m4,presort
5,a1_3,m4_2,AM1,12.98,a1_m4,presort
6,a1_4,m4_4,AM1,12.98,a1_m4,presort
7,a1_5,m4_4,AM1,12.98,a1_m4,presort
8,a1_6,m4_4,AM1,12.98,a1_m4,presort
9,a1_7,m4_6,AM1,12.98,a1_m4,presort
10,a1_8,m4_6,AM1,12.98,a1_m4,presort
11,a1_9,m4_6,AM1,12.98,a1_m4,presort
12,a2_1,m4_1,AM1,14.31,a2_m4,presort
13,a2_10,m4_7,AM1,14.31,a2_m4,presort
14,a2_11,m4_7,AM1,14.31,a2_m4,presort
15,a2_12,m4_7,AM1,14.31,a2_m4,presort
16,a2_2,m4_1,AM1,14.31,a2_m4,presort
17,a2_3,m4_1,AM1,14.31,a2_m4,presort
18,a2_4,m4_3,AM1,14.31,a2_m4,presort
19,a2_5,m4_3,AM1,14.31,a2_m4,presort
20,a2_6,m4_3,AM1,14.31,a2_m4,presort
21,a2_7,m4_5,AM1,14.31,a2_m4,presort
22,a2_8,m4_5,AM1,14.31,a2_m4,presort
23,a2_9,m4_5,AM1,14.31,a2_m4,presort
24,c10_1,x3_1,LS1,41.95,c10_x3,secondary_sort
25,c10_1,x9_1,LS2,48.37,c10_x9,secondary_sort
26,c10_10,x3_1,LS1,41.95,c10_x3,secondary_sort
27,c10_10,x9_1,LS2,48.37,c10_x9,secondary_sort
28,c10_100,x3_1,LS1,41.95,c10_x3,secondary_sort
29,c10_100,x9_1,LS2,48.37,c10_x9,secondary_sort
...,...,...,...,...,...,...
22173,x7_1,u5_2,MS3/MS4,113.95,x7_u5,small_sort
22174,x7_1,u5_3,MS3/MS4,113.95,x7_u5,small_sort
22175,x7_1,u5_4,MS3/MS4,113.95,x7_u5,small_sort
22176,x7_1,u5_5,MS3/MS4,113.95,x7_u5,small_sort
22177,x7_1,u5_6,MS3/MS4,113.95,x7_u5,small_sort
22178,x7_1,u5_7,MS3/MS4,113.95,x7_u5,small_sort
22179,x7_1,u6_1,MS3/MS4,226.54,x7_u6,small_sort
22180,x7_1,u6_2,MS3/MS4,226.54,x7_u6,small_sort
22181,x7_1,u6_3,MS3/MS4,226.54,x7_u6,small_sort
22182,x7_1,u6_4,MS3/MS4,226.54,x7_u6,small_sort
22183,x7_1,u6_5,MS3/MS4,226.54,x7_u6,small_sort
22184,x7_1,u6_6,MS3/MS4,226.54,x7_u6,small_sort
22185,x7_1,u6_7,MS3/MS4,226.54,x7_u6,small_sort
22186,x7_1,u7_1,MS3/MS4,47.20,x7_u7,small_sort
22187,x7_1,u7_2,MS3/MS4,47.20,x7_u7,small_sort
22188,x7_1,u7_3,MS3/MS4,47.20,x7_u7,small_sort
22189,x7_1,u7_4,MS3/MS4,47.20,x7_u7,small_sort
22190,x7_1,u7_5,MS3/MS4,47.20,x7_u7,small_sort
22191,x7_1,u7_6,MS3/MS4,47.20,x7_u7,small_sort
22192,x7_1,u7_7,MS3/MS4,47.20,x7_u7,small_sort
22193,x7_1,u8_1,MS3/MS4,169.79,x7_u8,small_sort
22194,x7_1,u8_2,MS3/MS4,169.79,x7_u8,small_sort
22195,x7_1,u8_3,MS3/MS4,169.79,x7_u8,small_sort
22196,x7_1,u8_4,MS3/MS4,169.79,x7_u8,small_sort
22197,x7_1,u8_5,MS3/MS4,169.79,x7_u8,small_sort
22198,x7_1,u8_6,MS3/MS4,169.79,x7_u8,small_sort
22199,x7_1,u8_7,MS3/MS4,169.79,x7_u8,small_sort
22200,x8_1,x1_1,LS1,50.30,x8_x1,secondary_sort
22201,x9_1,x4_1,LS2,61.16,x9_x4,secondary_sort
22202,x9_1,x5_1,LS2,52.02,x9_x5,secondary_sort

In [82]:
table = load_from_mysql("i_queue_io")

In [88]:
table[table.equipment_port_next.str.startswith("x")]

,equipment_port_last,equipment_port_next,equipment_type,queue_id,process_time,allocate_rule,parcel_type,sorter_zone,dest_type,inserted_on,modified_on
24,c10_1,x3_1,x,c10_x3,41.95,OD,Small,LS1,None,NaT,NaT
25,c10_1,x9_1,x,c10_x9,48.37,OD,Small,LS2,None,NaT,NaT
26,c10_10,x3_1,x,c10_x3,41.95,OD,Small,LS1,None,NaT,NaT
27,c10_10,x9_1,x,c10_x9,48.37,OD,Small,LS2,None,NaT,NaT
28,c10_100,x3_1,x,c10_x3,41.95,OD,Small,LS1,None,NaT,NaT
29,c10_100,x9_1,x,c10_x9,48.37,OD,Small,LS2,None,NaT,NaT
30,c10_101,x3_1,x,c10_x3,41.95,OD,Small,LS1,None,NaT,NaT
31,c10_101,x9_1,x,c10_x9,48.37,OD,Small,LS2,None,NaT,NaT
32,c10_102,x3_1,x,c10_x3,41.95,OD,Small,LS1,None,NaT,NaT
33,c10_102,x9_1,x,c10_x9,48.37,OD,Small,LS2,None,NaT,NaT
34,c10_103,x3_1,x,c10_x3,41.95,OD,Small,LS1,None,NaT,NaT
35,c10_103,x9_1,x,c10_x9,48.37,OD,Small,LS2,None,NaT,NaT
36,c10_104,x3_1,x,c10_x3,41.95,OD,Small,LS1,None,NaT,NaT
37,c10_104,x9_1,x,c10_x9,48.37,OD,Small,LS2,None,NaT,NaT
38,c10_11,x3_1,x,c10_x3,41.95,OD,Small,LS1,None,NaT,NaT
39,c10_11,x9_1,x,c10_x9,48.37,OD,Small,LS2,None,NaT,NaT
40,c10_12,x3_1,x,c10_x3,41.95,OD,Small,LS1,None,NaT,NaT
41,c10_12,x9_1,x,c10_x9,48.37,OD,Small,LS2,None,NaT,NaT
42,c10_13,x3_1,x,c10_x3,41.95,OD,Small,LS1,None,NaT,NaT
43,c10_13,x9_1,x,c10_x9,48.37,OD,Small,LS2,None,NaT,NaT
44,c10_14,x3_1,x,c10_x3,41.95,OD,Small,LS1,None,NaT,NaT
45,c10_14,x9_1,x,c10_x9,48.37,OD,Small,LS2,None,NaT,NaT
46,c10_15,x3_1,x,c10_x3,41.95,OD,Small,LS1,None,NaT,NaT
47,c10_15,x9_1,x,c10_x9,48.37,OD,Small,LS2,None,NaT,NaT
48,c10_16,x3_1,x,c10_x3,41.95,OD,Small,LS1,None,NaT,NaT
49,c10_16,x9_1,x,c10_x9,48.37,OD,Small,LS2,None,NaT,NaT
50,c10_17,x3_1,x,c10_x3,41.95,OD,Small,LS1,None,NaT,NaT
51,c10_17,x9_1,x,c10_x9,48.37,OD,Small,LS2,None,NaT,NaT
52,c10_18,x3_1,x,c10_x3,41.95,OD,Small,LS1,None,NaT,NaT
53,c10_18,x9_1,x,c10_x9,48.37,OD,Small,LS2,None,NaT,NaT
...,...,...,...,...,...,...,...,...,...,...,...
22003,m4_1,x7_1,m,m4_x7,82.15,OD,Small,MS3/MS4,None,NaT,NaT
22006,m4_2,x2_1,x,m4_x2,36.99,OD,Parcel,LS1,None,NaT,NaT
22007,m4_2,x5_1,x,m4_x5,574.74,OD,Parcel,LS2,None,NaT,NaT
22008,m4_2,x6_1,m,m4_x6,117.89,OD,Small,MS1/MS2,None,NaT,NaT
22009,m4_2,x7_1,m,m4_x7,82.15,OD,Small,MS3/MS4,None,NaT,NaT
22012,m4_3,x15_1,x,m4_x15,98.21,OD,Parcel,LS1,None,NaT,NaT
22013,m4_3,x16_1,x,m4_x16,92.96,OD,Parcel,LS2,None,NaT,NaT
22014,m4_3,x6_1,m,m4_x6,117.89,OD,Small,MS1/MS2,None,NaT,NaT
22015,m4_3,x7_1,m,m4_x7,82.15,OD,Small,MS3/MS4,None,NaT,NaT
22020,m4_4,x6_1,m,m4_x6,117.89,OD,Small,MS1/MS2,None,NaT,NaT
22021,m4_4,x7_1,m,m4_x7,82.15,OD,Small,MS3/MS4,None,NaT,NaT
22024,m4_5,x15_1,x,m4_x15,98.21,OD,Parcel,LS1,None,NaT,NaT
22025,m4_5,x16_1,x,m4_x16,92.96,OD,Parcel,LS2,None,NaT,NaT
22026,m4_5,x6_1,m,m4_x6,117.89,OD,Small,MS1/MS2,None,NaT,NaT
22027,m4_5,x7_1,m,m4_x7,82.15,OD,Small,MS3/MS4,None,NaT,NaT
22032,m4_6,x6_1,m,m4_x6,117.89,OD,Small,MS1/MS2,None,NaT,NaT
22033,m4_6,x7_1,m,m4_x7,82.15,OD,Small,MS3/MS4,None,NaT,NaT
22038,m4_7,x6_1,m,m4_x6,117.89,OD,Small,MS1/MS2,None,NaT,NaT
22039,m4_7,x7_1,m,m4_x7,82.15,OD,Small,MS3/MS4,None,NaT,NaT
22044,m4_8,x6_1,m,m4_x6,117.89,OD,Small,MS1/MS2,None,NaT,NaT
22045,m4_8,x7_1,m,m4_x7,82.15,OD,Small,MS3/MS4,None,NaT,NaT
22134,x10_1,x17_1,x,x10_x17,31.88,OD,Small,LM2,None,NaT,NaT
22137,x17_1,x6_1,x,x17_x6,83.86,OD,Small,MS1/MS2,None,NaT,NaT
22138,x17_1,x7_1,x,x17_x7,59.21,OD,Small,MS3/MS4,None,NaT,NaT
22140,x2_1,x1_1,x,x2_x1,85.15,OD,Parcel,LS1,None,NaT,NaT
22141,x3_1,x2_1,x,x3_x2,131.28,None,Small,LS1,None,NaT,NaT
22142,x4_1,x5_1,x,x4_x5,34.43,OD,Small,LS2,None,NaT,NaT
22200,x8_1,x1_1,x,x8_x1,50.30,None,Small,LS1,None,NaT,NaT
22201,x9_1,x4_1,x,x9_x4,61.16,None,Small,LS2,None,NaT,NaT
22202,x9_1,x5_1,x,x9_x5,52.02,OD,Parcel,LS2,None,NaT,NaT

In [94]:
table.drop_duplicates(subset=["equipment_port_last", "equipment_port_next"])

,equipment_port_last,equipment_port_next,equipment_type,queue_id,process_time,allocate_rule,parcel_type,sorter_zone,dest_type,inserted_on,modified_on
0,a1_1,m4_2,m,a1_m4,12.98,None,None,AM1,None,NaT,NaT
1,a1_10,m4_8,m,a1_m4,12.98,None,None,AM1,None,NaT,NaT
2,a1_11,m4_8,m,a1_m4,12.98,None,None,AM1,None,NaT,NaT
3,a1_12,m4_8,m,a1_m4,12.98,None,None,AM1,None,NaT,NaT
4,a1_2,m4_2,m,a1_m4,12.98,None,None,AM1,None,NaT,NaT
5,a1_3,m4_2,m,a1_m4,12.98,None,None,AM1,None,NaT,NaT
6,a1_4,m4_4,m,a1_m4,12.98,None,None,AM1,None,NaT,NaT
7,a1_5,m4_4,m,a1_m4,12.98,None,None,AM1,None,NaT,NaT
8,a1_6,m4_4,m,a1_m4,12.98,None,None,AM1,None,NaT,NaT
9,a1_7,m4_6,m,a1_m4,12.98,None,None,AM1,None,NaT,NaT
10,a1_8,m4_6,m,a1_m4,12.98,None,None,AM1,None,NaT,NaT
11,a1_9,m4_6,m,a1_m4,12.98,None,None,AM1,None,NaT,NaT
12,a2_1,m4_1,m,a2_m4,14.31,None,None,AM1,None,NaT,NaT
13,a2_10,m4_7,m,a2_m4,14.31,None,None,AM1,None,NaT,NaT
14,a2_11,m4_7,m,a2_m4,14.31,None,None,AM1,None,NaT,NaT
15,a2_12,m4_7,m,a2_m4,14.31,None,None,AM1,None,NaT,NaT
16,a2_2,m4_1,m,a2_m4,14.31,None,None,AM1,None,NaT,NaT
17,a2_3,m4_1,m,a2_m4,14.31,None,None,AM1,None,NaT,NaT
18,a2_4,m4_3,m,a2_m4,14.31,None,None,AM1,None,NaT,NaT
19,a2_5,m4_3,m,a2_m4,14.31,None,None,AM1,None,NaT,NaT
20,a2_6,m4_3,m,a2_m4,14.31,None,None,AM1,None,NaT,NaT
21,a2_7,m4_5,m,a2_m4,14.31,None,None,AM1,None,NaT,NaT
22,a2_8,m4_5,m,a2_m4,14.31,None,None,AM1,None,NaT,NaT
23,a2_9,m4_5,m,a2_m4,14.31,None,None,AM1,None,NaT,NaT
24,c10_1,x3_1,x,c10_x3,41.95,OD,Small,LS1,None,NaT,NaT
25,c10_1,x9_1,x,c10_x9,48.37,OD,Small,LS2,None,NaT,NaT
26,c10_10,x3_1,x,c10_x3,41.95,OD,Small,LS1,None,NaT,NaT
27,c10_10,x9_1,x,c10_x9,48.37,OD,Small,LS2,None,NaT,NaT
28,c10_100,x3_1,x,c10_x3,41.95,OD,Small,LS1,None,NaT,NaT
29,c10_100,x9_1,x,c10_x9,48.37,OD,Small,LS2,None,NaT,NaT
...,...,...,...,...,...,...,...,...,...,...,...
22173,x7_1,u5_2,u,x7_u5,113.95,random,Small,MS3/MS4,None,NaT,NaT
22174,x7_1,u5_3,u,x7_u5,113.95,random,Small,MS3/MS4,None,NaT,NaT
22175,x7_1,u5_4,u,x7_u5,113.95,random,Small,MS3/MS4,None,NaT,NaT
22176,x7_1,u5_5,u,x7_u5,113.95,random,Small,MS3/MS4,None,NaT,NaT
22177,x7_1,u5_6,u,x7_u5,113.95,random,Small,MS3/MS4,None,NaT,NaT
22178,x7_1,u5_7,u,x7_u5,113.95,random,Small,MS3/MS4,None,NaT,NaT
22179,x7_1,u6_1,u,x7_u6,226.54,random,Small,MS3/MS4,None,NaT,NaT
22180,x7_1,u6_2,u,x7_u6,226.54,random,Small,MS3/MS4,None,NaT,NaT
22181,x7_1,u6_3,u,x7_u6,226.54,random,Small,MS3/MS4,None,NaT,NaT
22182,x7_1,u6_4,u,x7_u6,226.54,random,Small,MS3/MS4,None,NaT,NaT
22183,x7_1,u6_5,u,x7_u6,226.54,random,Small,MS3/MS4,None,NaT,NaT
22184,x7_1,u6_6,u,x7_u6,226.54,random,Small,MS3/MS4,None,NaT,NaT
22185,x7_1,u6_7,u,x7_u6,226.54,random,Small,MS3/MS4,None,NaT,NaT
22186,x7_1,u7_1,u,x7_u7,47.20,random,Small,MS3/MS4,None,NaT,NaT
22187,x7_1,u7_2,u,x7_u7,47.20,random,Small,MS3/MS4,None,NaT,NaT
22188,x7_1,u7_3,u,x7_u7,47.20,random,Small,MS3/MS4,None,NaT,NaT
22189,x7_1,u7_4,u,x7_u7,47.20,random,Small,MS3/MS4,None,NaT,NaT
22190,x7_1,u7_5,u,x7_u7,47.20,random,Small,MS3/MS4,None,NaT,NaT
22191,x7_1,u7_6,u,x7_u7,47.20,random,Small,MS3/MS4,None,NaT,NaT
22192,x7_1,u7_7,u,x7_u7,47.20,random,Small,MS3/MS4,None,NaT,NaT
22193,x7_1,u8_1,u,x7_u8,169.79,random,Small,MS3/MS4,None,NaT,NaT
22194,x7_1,u8_2,u,x7_u8,169.79,random,Small,MS3/MS4,None,NaT,NaT
22195,x7_1,u8_3,u,x7_u8,169.79,random,Small,MS3/MS4,None,NaT,NaT
22196,x7_1,u8_4,u,x7_u8,169.79,random,Small,MS3/MS4,None,NaT,NaT
22197,x7_1,u8_5,u,x7_u8,169.79,random,Small,MS3/MS4,None,NaT,NaT
22198,x7_1,u8_6,u,x7_u8,169.79,random,Small,MS3/MS4,None,NaT,NaT
22199,x7_1,u8_7,u,x7_u8,169.79,random,Small,MS3/MS4,None,NaT,NaT
22200,x8_1,x1_1,x,x8_x1,50.30,None,Small,LS1,None,NaT,NaT
22201,x9_1,x4_1,x,x9_x4,61.16,None,Small,LS2,None,NaT,NaT
22202,x9_1,x5_1,x,x9_x5,52.02,OD,Parcel,LS2,None,NaT,NaT