In [1]:
import sys
sys.path.append("..")
import os
from os.path import join, splitext

import pandas as pd
from src.db import *

In [7]:
data = load_from_mysql('i_od_parcel_airside')
data2 = load_from_mysql('i_od_small_airside')

2017-08-16 05:18:28,513 - django - INFO - Reading Redis i_od_parcel_airside
2017-08-16 05:18:28,808 - django - INFO - Reading Redis i_od_small_airside

In [4]:
data[data.parcel_id == '526256']

,parcel_id,src_dist_code,src_type,dest_dist_code,dest_zone_code,put_package_to_cage_tm,ident_des_zno,dest_type,uld_num,plate_num,parcel_type,limit_type_code,arrive_time,send_time,inserted_on,modified_on
150241,526256,024,A,510,510HB,2017-07-26 02:28:02,510,L,None,336197494888,small,T4,2017-07-26 02:03:38,2017-07-26 04:57:25,NaT,NaT

In [8]:
data2[data2.parcel_id == '526256']

,small_id,parcel_id,src_dist_code,src_type,dest_dist_code,dest_zone_code,put_package_to_cage_tm,ident_des_zno,dest_type,uld_num,plate_num,parcel_type,limit_type_code,arrive_time,send_time,inserted_on,modified_on
1963,526256,526256,024,A,510,510HB,2017-07-26 02:28:02,510,L,None,336197494888,small,T4,2017-07-26 02:03:38,2017-07-26 04:57:25,NaT,NaT