In [1]:
import sys

sys.path.extend(['..'])

In [16]:
from src.db import *

In [38]:
resource_limit_table = load_from_mysql('i_resource_limit')
equipment_table = load_from_mysql('i_equipment_io')

2017-08-13 22:43:19,639 - django - INFO - Reading hdf5 i_resource_limit
2017-08-13 22:43:19,659 - django - INFO - Reading hdf5 i_equipment_io

In [19]:
equipment_table

,equipment_port,equipment_id,process_time,allocate_rule,equipment_status,inserted_on,modified_on,equipment_on_time
0,a1_1,a1,0.00,random,0,NaT,NaT,09:20~18:30
1,a1_10,a1,0.00,random,0,NaT,NaT,09:20~18:30
2,a1_11,a1,0.00,random,0,NaT,NaT,09:20~18:30
3,a1_12,a1,0.00,random,1,NaT,NaT,09:20~18:30
4,a1_2,a1,0.00,random,0,NaT,NaT,09:20~18:30
5,a1_3,a1,0.00,random,0,NaT,NaT,09:20~18:30
6,a1_4,a1,0.00,random,0,NaT,NaT,09:20~18:30
7,a1_5,a1,0.00,random,0,NaT,NaT,09:20~18:30
8,a1_6,a1,0.00,random,1,NaT,NaT,09:20~18:30
9,a1_7,a1,0.00,random,0,NaT,NaT,09:20~18:30
10,a1_8,a1,0.00,random,0,NaT,NaT,09:20~18:30
11,a1_9,a1,0.00,random,1,NaT,NaT,09:20~18:30
12,a2_1,a2,0.00,random,0,NaT,NaT,09:20~18:30
13,a2_10,a2,0.00,random,0,NaT,NaT,09:20~18:30
14,a2_11,a2,0.00,random,1,NaT,NaT,09:20~18:30
15,a2_12,a2,0.00,random,1,NaT,NaT,09:20~18:30
16,a2_2,a2,0.00,random,0,NaT,NaT,09:20~18:30
17,a2_3,a2,0.00,random,1,NaT,NaT,09:20~18:30
18,a2_4,a2,0.00,random,0,NaT,NaT,09:20~18:30
19,a2_5,a2,0.00,random,0,NaT,NaT,09:20~18:30
20,a2_6,a2,0.00,random,1,NaT,NaT,09:20~18:30
21,a2_7,a2,0.00,random,0,NaT,NaT,09:20~18:30
22,a2_8,a2,0.00,random,0,NaT,NaT,09:20~18:30
23,a2_9,a2,0.00,random,1,NaT,NaT,09:20~18:30
24,c10_1,c10,55.00,None,1,NaT,NaT,09:20~18:30
25,c10_10,c10,55.00,None,1,NaT,NaT,09:20~18:30
26,c10_100,c10,55.00,None,1,NaT,NaT,09:20~18:30
27,c10_101,c10,55.00,None,1,NaT,NaT,09:20~18:30
28,c10_102,c10,55.00,None,1,NaT,NaT,09:20~18:30
29,c10_103,c10,55.00,None,1,NaT,NaT,09:20~18:30
...,...,...,...,...,...,...,...,...
1450,u7_2,u7,2.58,random,1,NaT,NaT,09:20~18:30
1451,u7_3,u7,2.58,random,1,NaT,NaT,09:20~18:30
1452,u7_4,u7,2.58,random,0,NaT,NaT,09:20~18:30
1453,u7_5,u7,2.58,random,0,NaT,NaT,09:20~18:30
1454,u7_6,u7,2.58,random,0,NaT,NaT,09:20~18:30
1455,u7_7,u7,2.58,random,0,NaT,NaT,09:20~18:30
1456,u8_1,u8,2.58,random,1,NaT,NaT,09:20~18:30
1457,u8_2,u8,2.58,random,1,NaT,NaT,09:20~18:30
1458,u8_3,u8,2.58,random,1,NaT,NaT,09:20~18:30
1459,u8_4,u8,2.58,random,0,NaT,NaT,09:20~18:30
1460,u8_5,u8,2.58,random,0,NaT,NaT,09:20~18:30
1461,u8_6,u8,2.58,random,0,NaT,NaT,09:20~18:30
1462,u8_7,u8,2.58,random,0,NaT,NaT,09:20~18:30
1463,x10_1,x10,0.00,None,1,NaT,NaT,09:20~18:30
1464,x11_1,x11,0.00,None,1,NaT,NaT,09:20~18:30
1465,x12_1,x12,0.00,None,1,NaT,NaT,09:20~18:30
1466,x13_1,x13,0.00,None,1,NaT,NaT,09:20~18:30
1467,x14_1,x14,0.00,None,1,NaT,NaT,09:20~18:30
1468,x15_1,x15,0.00,None,1,NaT,NaT,09:20~18:30
1469,x16_1,x16,0.00,None,1,NaT,NaT,09:20~18:30
1470,x17_1,x17,0.00,None,1,NaT,NaT,09:20~18:30
1471,x1_1,x1,0.00,None,1,NaT,NaT,09:20~18:30
1472,x2_1,x2,0.00,None,1,NaT,NaT,09:20~18:30
1473,x3_1,x3,0.00,None,1,NaT,NaT,09:20~18:30
1474,x4_1,x4,0.00,None,1,NaT,NaT,09:20~18:30
1475,x5_1,x5,0.00,None,1,NaT,NaT,09:20~18:30
1476,x6_1,x6,0.00,None,1,NaT,NaT,09:20~18:30
1477,x7_1,x7,0.00,None,1,NaT,NaT,09:20~18:30
1478,x8_1,x8,0.00,None,1,NaT,NaT,09:20~18:30
1479,x9_1,x9,0.00,None,1,NaT,NaT,09:20~18:30

In [40]:
r_a_table_ind = \
    resource_limit_table['resource_name'].str.startswith('a') | resource_limit_table['resource_name'].str.startswith('r')

r_table_ind = \
    resource_limit_table['resource_name'].str.startswith('r')

In [41]:
r_table = resource_limit_table[r_table_ind]

In [42]:
table = r_table.sample(10)

In [43]:
table_sample = table[['resource_id', 'resource_limit']]

In [44]:
table_sample['time_stamp'] = '23:00'

/Users/teddyz/anaconda/envs/simpy_pip/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [48]:
table_new = table_sample.append(table_sample.assign(
                        resource_limit=1, 
                        time_stamp='21:30',
                                       ))

In [49]:
table_new.reset_index(inplace=True, drop=True)

In [52]:
write_mysql(table_name='resource_timetable', data=table_new)

2017-08-13 22:44:57,173 - django - INFO - mysql write table resource_timetable succeed!

In [61]:
equipment_timetable = \
    equipment_table[equipment_table.equipment_id.str.startswith('a') | equipment_table.equipment_id.str.startswith('r')]

equipment_timetable = equipment_timetable.sample(10)[['equipment_port',]]

equipment_timetable['time_stamp'] = '23:00'
equipment_timetable['on_off'] = True



equipment_timetable = equipment_timetable.append(equipment_timetable.assign(
                                                        time_stamp='21:30',
                                                        on_off=False,))

equipment_timetable.reset_index(inplace=True, drop=True)

In [63]:
write_mysql(table_name='equipment_timetable', data=equipment_timetable)

2017-08-13 22:50:05,093 - django - INFO - mysql write table equipment_timetable succeed!