In [2]:
import sys
import pandas as pd

sys.path.append('..')
from src.db import *

test

In [3]:
table = load_from_mysql("i_queue_io")

/opt/miniconda3/envs/simpy_py36/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1366, "Incorrect string value: '\\xD6\\xD0\\xB9\\xFA\\xB1\\xEA...' for column 'VARIABLE_VALUE' at row 496")
  result = self._query(query)

In [6]:
table[table.equipment_port_next.str.startswith('e3')]

,equipment_port_last,equipment_port_next,equipment_type,queue_id,process_time,allocate_rule,parcel_type,sorter_zone,dest_type,inserted_on,modified_on
17384,i17_1,e3_1,e,i17_e3,731.0,None,Parcel,AS1,None,NaT,NaT
17471,i17_2,e3_1,e,i17_e3,731.0,None,Parcel,AS1,None,NaT,NaT
17558,i17_3,e3_1,e,i17_e3,731.0,None,Parcel,AS1,None,NaT,NaT
17645,i17_4,e3_1,e,i17_e3,731.0,None,Parcel,AS1,None,NaT,NaT

In [48]:
?pd.DataFrame.to_dict

In [55]:
# change parameter name
table["parameter_id"] = table["parameter_id"].replace(
    {'uld_turnaround_time': 'vehicle_turnaround_time',
     'truck_turnaround_time': 'vehicle_turnaround_time',})

table_dict = \
    table.groupby(["equipment_id"])["parameter_id", "parameter_value"]\
        .apply(lambda x: x.groupby("parameter_id")["parameter_value"].apply(lambda x: list(x)[0]).to_dict())

In [56]:
table_dict['r3']

{'prob_of_nc': 0.059999999999999998, 'vehicle_turnaround_time': 90.0}