# todo:

1. load data from mysql
2. convert to spark format
3. try spark sql

In [1]:
import sys

sys.path.extend(['..'])

from src.db import *

In [2]:
table = load_from_mysql('o_machine_table')

2017-08-28 10:38:36,911 - simulation - INFO - Reading mysql table o_machine_table
2017-08-28 10:38:49,246 - simulation - INFO - Redis write table o_machine_table succeed!

In [3]:
table = table.dropna(axis=1)

In [4]:
table.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 155380 entries, 0 to 155379
Data columns (total 8 columns):
equipment_id       155380 non-null object
parcel_id          155380 non-null object
small_id           155380 non-null object
parcel_type        155380 non-null object
time_stamp         155380 non-null float64
action             155380 non-null object
real_time_stamp    155380 non-null datetime64[ns]
run_time           155380 non-null datetime64[ns]
dtypes: datetime64[ns](2), float64(1), object(5)
memory usage: 9.5+ MB

In [5]:
import pandas as pd
from pyspark.sql import SQLContext

In [6]:
sqlCtx = SQLContext(sc)
spark_df = sqlCtx.createDataFrame(table)

In [7]:
spark_df.createOrReplaceTempView("machine_table")

In [10]:
sqlDF = spark.sql("SELECT count(*) FROM machine_table")
sqlDF.show()

+--------+
|count(1)|
+--------+
|  155380|
+--------+

In [16]:
%time sqlDF2 = spark.sql("SELECT equipment_id, count(distinct(parcel_id)) FROM machine_table group by equipment_id")
%time sqlDF2.show()

CPU times: user 1.57 ms, sys: 3.83 ms, total: 5.41 ms
Wall time: 105 ms
+------------+-------------------------+
|equipment_id|count(DISTINCT parcel_id)|
+------------+-------------------------+
|       c3_16|                        9|
|       c7_66|                        8|
|      c14_24|                        3|
|       c4_19|                        2|
|      c13_18|                        1|
|        c3_7|                       53|
|       c9_79|                        2|
|      c7_104|                        2|
|      c10_85|                        4|
|       c9_53|                        2|
|       c7_71|                       27|
|        m1_2|                       23|
|       c7_41|                       28|
|      c10_70|                        9|
|       i11_1|                       32|
|       j38_1|                        3|
|       c1_20|                        9|
|       c8_26|                        2|
|        c8_1|                      219|
|       c7_26|                        7|
+------------+-------------------------+
only showing top 20 rows

CPU times: user 18.8 ms, sys: 7.33 ms, total: 26.1 ms
Wall time: 5.57 s