In [1]:
import sys
sys.path.append('..')
from src.db import *

In [47]:
test = load_from_mysql("i_equipment_parameter")

In [60]:
test_queue = load_from_mysql("i_queue_io")

In [56]:
test.equipment_id.unique()

array(['a1', 'a2', 'h1', 'h2', 'h3', 'j1', 'j10', 'j11', 'j12', 'j13',
       'j14', 'j15', 'j16', 'j17', 'j18', 'j19', 'j2', 'j20', 'j21', 'j22',
       'j23', 'j24', 'j25', 'j26', 'j27', 'j28', 'j29', 'j3', 'j30', 'j31',
       'j32', 'j33', 'j34', 'j35', 'j36', 'j37', 'j38', 'j39', 'j4', 'j40',
       'j41', 'j5', 'j6', 'j7', 'j8', 'j9', 'r1', 'r2', 'r3', 'r4', 'r5'], dtype=object)

In [57]:
test.groupby(["equipment_id", "parameter_id"])["parameter_value"].apply(list).to_frame()

                                     parameter_value
equipment_id parameter_id
a1           prob_of_nc                       [0.06]
             uld_turnaround_time               [0.0]
a2           prob_of_nc                       [0.06]
             uld_turnaround_time               [0.0]
h1           hospital_entry_i2_time          [476.0]
             hospital_entry_i4_time          [408.0]
             prob_hospital_entry              [0.05]
h2           hospital_entry_i5_time          [408.0]
             hospital_entry_i7_time          [476.0]
             prob_hospital_entry              [0.05]
h3           hospital_entry_i17_time         [731.0]
             hospital_entry_i19_time         [731.0]
             hospital_entry_i22_time         [731.0]
             hospital_entry_i24_time         [731.0]
             prob_hospital_entry              [0.05]
j1           prob_security_fail              [0.009]
             security_fail_proc_time         [900.0]
j10          prob_security_fail              [0.009]
             security_fail_proc_time         [900.0]
j11          prob_security_fail              [0.009]
             security_fail_proc_time         [900.0]
j12          prob_security_fail              [0.009]
             security_fail_proc_time         [900.0]
j13          prob_security_fail              [0.009]
             security_fail_proc_time         [900.0]
j14          prob_security_fail              [0.009]
             security_fail_proc_time         [900.0]
j15          prob_security_fail              [0.009]
             security_fail_proc_time         [900.0]
j16          prob_security_fail              [0.009]
...                                              ...
j38          prob_security_fail              [0.009]
             security_fail_proc_time         [900.0]
j39          prob_security_fail              [0.009]
             security_fail_proc_time         [900.0]
j4           prob_security_fail              [0.009]
             security_fail_proc_time         [900.0]
j40          prob_security_fail              [0.009]
             security_fail_proc_time         [900.0]
j41          prob_security_fail              [0.009]
             security_fail_proc_time         [900.0]
j5           prob_security_fail              [0.009]
             security_fail_proc_time         [900.0]
j6           prob_security_fail              [0.009]
             security_fail_proc_time         [900.0]
j7           prob_security_fail              [0.009]
             security_fail_proc_time         [900.0]
j8           prob_security_fail              [0.009]
             security_fail_proc_time         [900.0]
j9           prob_security_fail              [0.009]
             security_fail_proc_time         [900.0]
r1           prob_of_nc                       [0.06]
             truck_turnaround_time            [90.0]
r2           prob_of_nc                       [0.06]
             truck_turnaround_time            [90.0]
r3           prob_of_nc                       [0.06]
             truck_turnaround_time            [90.0]
r4           prob_of_nc                       [0.06]
             truck_turnaround_time            [90.0]
r5           prob_of_nc                       [0.06]
             truck_turnaround_time            [90.0]

[107 rows x 1 columns]

In [62]:
test_queue[test_queue.equipment_port_next.str.startswith('e')]

,equipment_port_last,equipment_port_next,equipment_type,queue_id,process_time,allocate_rule,parcel_type,sorter_zone,dest_type,inserted_on,modified_on
17384,i17_1,e3_1,e,i17_e3,731.0,None,Parcel,AS1,None,NaT,NaT
17471,i17_2,e3_1,e,i17_e3,731.0,None,Parcel,AS1,None,NaT,NaT
17558,i17_3,e3_1,e,i17_e3,731.0,None,Parcel,AS1,None,NaT,NaT
17645,i17_4,e3_1,e,i17_e3,731.0,None,Parcel,AS1,None,NaT,NaT
17900,i19_1,e4_1,e,i19_e4,731.0,None,Parcel,AS1,None,NaT,NaT
17987,i19_2,e4_1,e,i19_e4,731.0,None,Parcel,AS1,None,NaT,NaT
18074,i19_3,e4_1,e,i19_e4,731.0,None,Parcel,AS1,None,NaT,NaT
18161,i19_4,e4_1,e,i19_e4,731.0,None,Parcel,AS1,None,NaT,NaT
18684,i22_1,e6_1,e,i22_e6,731.0,None,Parcel,AS2,None,NaT,NaT
18771,i22_2,e6_1,e,i22_e6,731.0,None,Parcel,AS2,None,NaT,NaT
18858,i22_3,e6_1,e,i22_e6,731.0,None,Parcel,AS2,None,NaT,NaT
18945,i22_4,e6_1,e,i22_e6,731.0,None,Parcel,AS2,None,NaT,NaT
19200,i24_1,e5_1,e,i24_e5,731.0,None,Parcel,AS2,None,NaT,NaT
19287,i24_2,e5_1,e,i24_e5,731.0,None,Parcel,AS2,None,NaT,NaT
19374,i24_3,e5_1,e,i24_e5,731.0,None,Parcel,AS2,None,NaT,NaT
19461,i24_4,e5_1,e,i24_e5,731.0,None,Parcel,AS2,None,NaT,NaT
19514,i2_1,e1_1,e,i2_e1,476.0,None,Parcel,LS1,None,NaT,NaT
19567,i2_2,e1_1,e,i2_e1,476.0,None,Parcel,LS1,None,NaT,NaT
19620,i2_3,e1_1,e,i2_e1,476.0,None,Parcel,LS1,None,NaT,NaT
19773,i4_1,e1_1,e,i4_e1,408.0,None,Parcel,LS1,None,NaT,NaT
19826,i4_2,e1_1,e,i4_e1,408.0,None,Parcel,LS1,None,NaT,NaT
19879,i4_3,e1_1,e,i4_e1,408.0,None,Parcel,LS1,None,NaT,NaT
19932,i4_4,e1_1,e,i4_e1,408.0,None,Parcel,LS1,None,NaT,NaT
19960,i5_1,e2_1,e,i5_e2,408.0,None,Parcel,LS2,None,NaT,NaT
19988,i5_2,e2_1,e,i5_e2,408.0,None,Parcel,LS2,None,NaT,NaT
20016,i5_3,e2_1,e,i5_e2,408.0,None,Parcel,LS2,None,NaT,NaT
20044,i5_4,e2_1,e,i5_e2,408.0,None,Parcel,LS2,None,NaT,NaT
20147,i7_1,e2_1,e,i7_e2,476.0,None,Parcel,LS2,None,NaT,NaT
20200,i7_2,e2_1,e,i7_e2,476.0,None,Parcel,LS2,None,NaT,NaT
20253,i7_3,e2_1,e,i7_e2,476.0,None,Parcel,LS2,None,NaT,NaT