In [1]:
import sys
sys.path.append('..')
from src.db import *

In [2]:
test = get_pipelines()

/opt/miniconda3/envs/simpy_py36/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1366, "Incorrect string value: '\\xD6\\xD0\\xB9\\xFA\\xB1\\xEA...' for column 'VARIABLE_VALUE' at row 496")
  result = self._query(query)

In [11]:
test[test.equipment_port_last == "r2_4"]

,equipment_port_last,equipment_port_next,sorter_zone,process_time,queue_id,machine_type,pipeline_type
22053,r2_4,m1_4,LM1,42.26,r2_m1,presort,pipeline

In [12]:
test[test.equipment_port_last == "m1_4"]

,equipment_port_last,equipment_port_next,sorter_zone,process_time,queue_id,machine_type,pipeline_type
21863,m1_4,i2_2,LS1,146.54,m1_i2,secondary_sort,pipeline
21864,m1_4,i7_3,LS2,136.89,m1_i7,secondary_sort,pipeline
21865,m1_4,x10_1,LM1,57.50,m1_x10,cross,pipeline