In [1]:
import sys
sys.path.append('..')
from src.db import *

In [10]:
test = load_from_mysql("i_queue_io")

In [16]:
test2 = load_from_mysql("i_equipment_io")

In [15]:
test[test.equipment_port_next.str.startswith("e")]

,equipment_port_last,equipment_port_next,equipment_type,queue_id,process_time,allocate_rule,parcel_type,sorter_zone,dest_type,inserted_on,modified_on
17384,i17_1,e3_1,e,i17_e3,731.0,None,Parcel,AS1,None,NaT,NaT
17471,i17_2,e3_1,e,i17_e3,731.0,None,Parcel,AS1,None,NaT,NaT
17558,i17_3,e3_1,e,i17_e3,731.0,None,Parcel,AS1,None,NaT,NaT
17645,i17_4,e3_1,e,i17_e3,731.0,None,Parcel,AS1,None,NaT,NaT
17900,i19_1,e4_1,e,i19_e4,731.0,None,Parcel,AS1,None,NaT,NaT
17987,i19_2,e4_1,e,i19_e4,731.0,None,Parcel,AS1,None,NaT,NaT
18074,i19_3,e4_1,e,i19_e4,731.0,None,Parcel,AS1,None,NaT,NaT
18161,i19_4,e4_1,e,i19_e4,731.0,None,Parcel,AS1,None,NaT,NaT
18684,i22_1,e6_1,e,i22_e6,731.0,None,Parcel,AS2,None,NaT,NaT
18771,i22_2,e6_1,e,i22_e6,731.0,None,Parcel,AS2,None,NaT,NaT
18858,i22_3,e6_1,e,i22_e6,731.0,None,Parcel,AS2,None,NaT,NaT
18945,i22_4,e6_1,e,i22_e6,731.0,None,Parcel,AS2,None,NaT,NaT
19200,i24_1,e5_1,e,i24_e5,731.0,None,Parcel,AS2,None,NaT,NaT
19287,i24_2,e5_1,e,i24_e5,731.0,None,Parcel,AS2,None,NaT,NaT
19374,i24_3,e5_1,e,i24_e5,731.0,None,Parcel,AS2,None,NaT,NaT
19461,i24_4,e5_1,e,i24_e5,731.0,None,Parcel,AS2,None,NaT,NaT
19514,i2_1,e1_1,e,i2_e1,476.0,None,Parcel,LS1,None,NaT,NaT
19567,i2_2,e1_1,e,i2_e1,476.0,None,Parcel,LS1,None,NaT,NaT
19620,i2_3,e1_1,e,i2_e1,476.0,None,Parcel,LS1,None,NaT,NaT
19773,i4_1,e1_1,e,i4_e1,408.0,None,Parcel,LS1,None,NaT,NaT
19826,i4_2,e1_1,e,i4_e1,408.0,None,Parcel,LS1,None,NaT,NaT
19879,i4_3,e1_1,e,i4_e1,408.0,None,Parcel,LS1,None,NaT,NaT
19932,i4_4,e1_1,e,i4_e1,408.0,None,Parcel,LS1,None,NaT,NaT
19960,i5_1,e2_1,e,i5_e2,408.0,None,Parcel,LS2,None,NaT,NaT
19988,i5_2,e2_1,e,i5_e2,408.0,None,Parcel,LS2,None,NaT,NaT
20016,i5_3,e2_1,e,i5_e2,408.0,None,Parcel,LS2,None,NaT,NaT
20044,i5_4,e2_1,e,i5_e2,408.0,None,Parcel,LS2,None,NaT,NaT
20147,i7_1,e2_1,e,i7_e2,476.0,None,Parcel,LS2,None,NaT,NaT
20200,i7_2,e2_1,e,i7_e2,476.0,None,Parcel,LS2,None,NaT,NaT
20253,i7_3,e2_1,e,i7_e2,476.0,None,Parcel,LS2,None,NaT,NaT

In [19]:
test2[test2.equipment_port.str.startswith("e")]

,equipment_port,equipment_id,process_time,allocate_rule,equipment_status,inserted_on,modified_on
1199,e1_1,e1,0.0,None,1,NaT,NaT
1200,e2_1,e2,0.0,None,1,NaT,NaT
1201,e3_1,e3,0.0,None,1,NaT,NaT
1202,e4_1,e4,0.0,None,1,NaT,NaT
1203,e5_1,e5,0.0,None,1,NaT,NaT
1204,e6_1,e6,0.0,None,1,NaT,NaT