In [1]:
import sys
sys.path.append('..')
from src.db import *

In [47]:
test = load_from_mysql("i_equipment_parameter")

In [60]:
test_queue = load_from_mysql("i_queue_io")

In [56]:
test.equipment_id.unique()

array(['a1', 'a2', 'h1', 'h2', 'h3', 'j1', 'j10', 'j11', 'j12', 'j13',
       'j14', 'j15', 'j16', 'j17', 'j18', 'j19', 'j2', 'j20', 'j21', 'j22',
       'j23', 'j24', 'j25', 'j26', 'j27', 'j28', 'j29', 'j3', 'j30', 'j31',
       'j32', 'j33', 'j34', 'j35', 'j36', 'j37', 'j38', 'j39', 'j4', 'j40',
       'j41', 'j5', 'j6', 'j7', 'j8', 'j9', 'r1', 'r2', 'r3', 'r4', 'r5'], dtype=object)

In [57]:
test.groupby(["equipment_id", "parameter_id"])["parameter_value"].apply(list).to_frame()

                                     parameter_value
equipment_id parameter_id
a1           prob_of_nc                       [0.06]
             uld_turnaround_time               [0.0]
a2           prob_of_nc                       [0.06]
             uld_turnaround_time               [0.0]
h1           hospital_entry_i2_time          [476.0]
             hospital_entry_i4_time          [408.0]
             prob_hospital_entry              [0.05]
h2           hospital_entry_i5_time          [408.0]
             hospital_entry_i7_time          [476.0]
             prob_hospital_entry              [0.05]
h3           hospital_entry_i17_time         [731.0]
             hospital_entry_i19_time         [731.0]
             hospital_entry_i22_time         [731.0]
             hospital_entry_i24_time         [731.0]
             prob_hospital_entry              [0.05]
j1           prob_security_fail              [0.009]
             security_fail_proc_time         [900.0]
j10          prob_security_fail              [0.009]
             security_fail_proc_time         [900.0]
j11          prob_security_fail              [0.009]
             security_fail_proc_time         [900.0]
j12          prob_security_fail              [0.009]
             security_fail_proc_time         [900.0]
j13          prob_security_fail              [0.009]
             security_fail_proc_time         [900.0]
j14          prob_security_fail              [0.009]
             security_fail_proc_time         [900.0]
j15          prob_security_fail              [0.009]
             security_fail_proc_time         [900.0]
j16          prob_security_fail              [0.009]
...                                              ...
j38          prob_security_fail              [0.009]
             security_fail_proc_time         [900.0]
j39          prob_security_fail              [0.009]
             security_fail_proc_time         [900.0]
j4           prob_security_fail              [0.009]
             security_fail_proc_time         [900.0]
j40          prob_security_fail              [0.009]
             security_fail_proc_time         [900.0]
j41          prob_security_fail              [0.009]
             security_fail_proc_time         [900.0]
j5           prob_security_fail              [0.009]
             security_fail_proc_time         [900.0]
j6           prob_security_fail              [0.009]
             security_fail_proc_time         [900.0]
j7           prob_security_fail              [0.009]
             security_fail_proc_time         [900.0]
j8           prob_security_fail              [0.009]
             security_fail_proc_time         [900.0]
j9           prob_security_fail              [0.009]
             security_fail_proc_time         [900.0]
r1           prob_of_nc                       [0.06]
             truck_turnaround_time            [90.0]
r2           prob_of_nc                       [0.06]
             truck_turnaround_time            [90.0]
r3           prob_of_nc                       [0.06]
             truck_turnaround_time            [90.0]
r4           prob_of_nc                       [0.06]
             truck_turnaround_time            [90.0]
r5           prob_of_nc                       [0.06]
             truck_turnaround_time            [90.0]

[107 rows x 1 columns]

In [61]:
test_queue.head()

,equipment_port_last,equipment_port_next,equipment_type,queue_id,process_time,allocate_rule,parcel_type,sorter_zone,dest_type,inserted_on,modified_on
0,a1_1,m4_2,m,a1_m4,12.98,None,None,AM1,None,NaT,NaT
1,a1_10,m4_8,m,a1_m4,12.98,None,None,AM1,None,NaT,NaT
2,a1_11,m4_8,m,a1_m4,12.98,None,None,AM1,None,NaT,NaT
3,a1_12,m4_8,m,a1_m4,12.98,None,None,AM1,None,NaT,NaT
4,a1_2,m4_2,m,a1_m4,12.98,None,None,AM1,None,NaT,NaT