In [13]:
import os
import redis
from os.path import join, splitext
import sys
sys.path.append('..')


from src.db import *

In [14]:
class RedisConfig:
    HOST = 'localhost'
    PORT = 6379
    DB = 0
    CONN = redis.StrictRedis(host=HOST, port=PORT, db=DB)

In [10]:
def reading_tables():
    table_names = os.listdir(SaveConfig.OUT_DIR)
    tables_dict = dict()
    for name in table_names:
        tables_dict[splitext(name)[0]] = pd.read_csv(join(SaveConfig.OUT_DIR, name))
    return tables_dict

In [11]:
tables_dict = reading_tables()

In [15]:
table_pipeline = tables_dict['pipeline_table']

In [22]:
%time table_pipeline_s = table_pipeline.to_msgpack()

CPU times: user 1.88 s, sys: 85 ms, total: 1.96 s
Wall time: 1.96 s

In [36]:
RedisConfig.CONN.setnx('pipeline_tables', table_pipeline_s)

False

In [19]:
table_pipeline_s_get_ = RedisConfig.CONN.get('pipeline_table')

In [21]:
%time pd.read_msgpack(table_pipeline_s_get_)

CPU times: user 1.76 s, sys: 295 ms, total: 2.06 s
Wall time: 2.05 s

,pipeline_id,queue_id,package_id,time_stamp,action,real_time_stamp,run_time
0,a2_12:m4_7,a2_m4,184474,15470.00,start,2017-06-16 01:17:50.000,2017-08-03 10:35:33.370100
1,a2_12:m4_7,a2_m4,184474,15484.31,end,2017-06-16 01:18:04.310,2017-08-03 10:35:33.370100
2,m4_7:i17_4,m4_i17,184474,15487.31,start,2017-06-16 01:18:07.310,2017-08-03 10:35:33.370100
3,m4_7:i17_4,m4_i17,184474,15627.31,end,2017-06-16 01:20:27.310,2017-08-03 10:35:33.370100
4,i17_4:c16_1,i17_c16,184474,15627.63,start,2017-06-16 01:20:27.630,2017-08-03 10:35:33.370100
5,i17_4:c16_1,i17_c16,184474,15781.59,end,2017-06-16 01:23:01.590,2017-08-03 10:35:33.370100
6,a2_1:m4_1,a2_m4,83769,15522.00,start,2017-06-16 01:18:42.000,2017-08-03 10:35:33.370100
7,a2_1:m4_1,a2_m4,83769,15536.31,end,2017-06-16 01:18:56.310,2017-08-03 10:35:33.370100
8,m4_1:i17_4,m4_i17,83769,15542.31,start,2017-06-16 01:19:02.310,2017-08-03 10:35:33.370100
9,m4_1:i17_4,m4_i17,83769,15682.31,end,2017-06-16 01:21:22.310,2017-08-03 10:35:33.370100
10,i17_4:c16_1,i17_c16,83769,15682.63,start,2017-06-16 01:21:22.630,2017-08-03 10:35:33.370100
11,i17_4:c16_1,i17_c16,83769,15836.59,end,2017-06-16 01:23:56.590,2017-08-03 10:35:33.370100
12,a2_8:m4_5,a2_m4,479548,15570.00,start,2017-06-16 01:19:30.000,2017-08-03 10:35:33.370100
13,a2_8:m4_5,a2_m4,479548,15584.31,end,2017-06-16 01:19:44.310,2017-08-03 10:35:33.370100
14,m4_5:i17_4,m4_i17,479548,15601.31,start,2017-06-16 01:20:01.310,2017-08-03 10:35:33.370100
15,m4_5:i17_4,m4_i17,479548,15741.31,end,2017-06-16 01:22:21.310,2017-08-03 10:35:33.370100
16,i17_4:c16_1,i17_c16,479548,15741.63,start,2017-06-16 01:22:21.630,2017-08-03 10:35:33.370100
17,i17_4:c16_1,i17_c16,479548,15895.59,end,2017-06-16 01:24:55.590,2017-08-03 10:35:33.370100
18,a1_1:m4_2,a1_m4,86390,18173.00,start,2017-06-16 02:02:53.000,2017-08-03 10:35:33.370100
19,a1_1:m4_2,a1_m4,86390,18185.98,end,2017-06-16 02:03:05.980,2017-08-03 10:35:33.370100
20,m4_2:i17_4,m4_i17,86390,18373.98,start,2017-06-16 02:06:13.980,2017-08-03 10:35:33.370100
21,m4_2:i17_4,m4_i17,86390,18513.98,end,2017-06-16 02:08:33.980,2017-08-03 10:35:33.370100
22,i17_4:c16_1,i17_c16,86390,18514.30,start,2017-06-16 02:08:34.300,2017-08-03 10:35:33.370100
23,i17_4:c16_1,i17_c16,86390,18668.26,end,2017-06-16 02:11:08.260,2017-08-03 10:35:33.370100
24,a1_1:m4_2,a1_m4,422329,18188.00,start,2017-06-16 02:03:08.000,2017-08-03 10:35:33.370100
25,a1_1:m4_2,a1_m4,422329,18200.98,end,2017-06-16 02:03:20.980,2017-08-03 10:35:33.370100
26,m4_2:i17_4,m4_i17,422329,18391.98,start,2017-06-16 02:06:31.980,2017-08-03 10:35:33.370100
27,m4_2:i17_4,m4_i17,422329,18531.98,end,2017-06-16 02:08:51.980,2017-08-03 10:35:33.370100
28,i17_4:c16_1,i17_c16,422329,18532.30,start,2017-06-16 02:08:52.300,2017-08-03 10:35:33.370100
29,i17_4:c16_1,i17_c16,422329,18686.26,end,2017-06-16 02:11:26.260,2017-08-03 10:35:33.370100
...,...,...,...,...,...,...,...
2151299,unload_error,unload_error,385554,40473.00,start,2017-06-16 08:14:33.000,2017-08-03 10:35:33.370100
2151300,unload_error,unload_error,385553,40477.00,start,2017-06-16 08:14:37.000,2017-08-03 10:35:33.370100
2151301,unload_error,unload_error,385563,40478.00,start,2017-06-16 08:14:38.000,2017-08-03 10:35:33.370100
2151302,unload_error,unload_error,385570,40479.00,start,2017-06-16 08:14:39.000,2017-08-03 10:35:33.370100
2151303,unload_error,unload_error,385568,40483.00,start,2017-06-16 08:14:43.000,2017-08-03 10:35:33.370100
2151304,unload_error,unload_error,20966,40484.00,start,2017-06-16 08:14:44.000,2017-08-03 10:35:33.370100
2151305,unload_error,unload_error,385566,40484.00,start,2017-06-16 08:14:44.000,2017-08-03 10:35:33.370100
2151306,unload_error,unload_error,385572,40485.00,start,2017-06-16 08:14:45.000,2017-08-03 10:35:33.370100
2151307,unload_error,unload_error,385560,40488.00,start,2017-06-16 08:14:48.000,2017-08-03 10:35:33.370100
2151308,unload_error,unload_error,385557,40490.00,start,2017-06-16 08:14:50.000,2017-08-03 10:35:33.370100
2151309,unload_error,unload_error,478276,40491.00,start,2017-06-16 08:14:51.000,2017-08-03 10:35:33.370100
2151310,unload_error,unload_error,1051,40492.00,start,2017-06-16 08:14:52.000,2017-08-03 10:35:33.370100
2151311,unload_error,unload_error,245334,40495.00,start,2017-06-16 08:14:55.000,2017-08-03 10:35:33.370100
2151312,unload_error,unload_error,385567,40496.00,start,2017-06-16 08:14:56.000,2017-08-03 10:35:33.370100
2151313,unload_error,unload_error,392413,40514.00,start,2017-06-16 08:15:14.000,2017-08-03 10:35:33.370100
2151314,unload_error,unload_error,499548,40542.00,start,2017-06-16 08:15:42.000,2017-08-03 10:35:33.370100
2151315,unload_error,unload_error,1848,40559.00,start,2017-06-16 08:15:59.000,2017-08-03 10:35:33.370100
2151316,unload_error,unload_error,251457,40569.00,start,2017-06-16 08:16:09.000,2017-08-03 10:35:33.370100
2151317,unload_error,unload_error,252,40580.00,start,2017-06-16 08:16:20.000,2017-08-03 10:35:33.370100
2151318,unload_error,unload_error,1050,40589.00,start,2017-06-16 08:16:29.000,2017-08-03 10:35:33.370100
2151319,unload_error,unload_error,392829,40604.00,start,2017-06-16 08:16:44.000,2017-08-03 10:35:33.370100
2151320,unload_error,unload_error,83064,40615.40,start,2017-06-16 08:16:55.400,2017-08-03 10:35:33.370100
2151321,unload_error,unload_error,236551,40629.00,start,2017-06-16 08:17:09.000,2017-08-03 10:35:33.370100
2151322,unload_error,unload_error,387837,40632.00,start,2017-06-16 08:17:12.000,2017-08-03 10:35:33.370100
2151323,unload_error,unload_error,385167,40635.00,start,2017-06-16 08:17:15.000,2017-08-03 10:35:33.370100
2151324,unload_error,unload_error,384,40642.00,start,2017-06-16 08:17:22.000,2017-08-03 10:35:33.370100
2151325,unload_error,unload_error,365,40651.00,start,2017-06-16 08:17:31.000,2017-08-03 10:35:33.370100
2151326,unload_error,unload_error,17149,42075.00,start,2017-06-16 08:41:15.000,2017-08-03 10:35:33.370100
2151327,unload_error,unload_error,1707,42948.00,start,2017-06-16 08:55:48.000,2017-08-03 10:35:33.370100
2151328,unload_error,unload_error,5120,56068.00,start,2017-06-16 12:34:28.000,2017-08-03 10:35:33.370100